---
title: Search Resources
permalink: /resources/
navigation_weight: 1
navigation_id: resources
layout: default
resources-js: true
---

<div id="directory" class="directory">

  <section class="hero-section">

    <div class="hero-body">

    	<h1 class="hero-header">{{ page.title }}</h1>

      {% include search-bar.html %}

    </div>

    <a class="hero-cta-button button" href="/submit-resource/">
      <span class="icon-paperclip" aria-hidden="true"></span>
      <span>{{ 'Submit a Resource' | upcase }}</span>
    </a>

  </section>

  <section class="resource-search-section">

    <img class="white-wave" src="/assets/img/white-wave.png" alt="" role="img" aria-hidden="true">

    <div class="resource-search-section-content">

      {% include filter-sidebar.html %}

      <div class="resource-list-module">

        <resource-list
          v-bind:resources="resources"
          v-bind:tags="selectedFilters.tags"
          v-bind:total-results="pagination.totalResults"
          v-bind:is-filterable="true"
          v-on:select-filter-tag="addTag"
          v-on:deselect-filter-tag="removeTag"
          v-on:view-all="clearAllFilters">
        </resource-list>

        <pagination
          v-bind:current-page="pagination.currentPage"
          v-bind:items-per-page="pagination.resultsPerPage"
          v-bind:total-items="pagination.totalResults"
          v-on:page-changed="refresh">
        </pagination>

        {% include noscript-warning.html %}

      </div>

    </div>

  </section>

  <section class="submit-resource-section">

    <div class="submit-resource-section-content">

      <img class="blue-wave" src="/assets/img/blue-wave.png" alt="" role="img" aria-hidden="true">

      <div class="color-bar-heading">
        <img class="heading-color-bar" src="/assets/img/color-bar.svg" role="img" aria-hidden="true">
        <h1 class="submit-resource-heading">SUBMIT A RESOURCE</h1>
      </div>

      <p class="submit-resource-text">Do you have a resource you would like to contribute? Please visit our submission form.</p>

      <a class="submit-resource-button button" href="/submit-resource/">
        <span class="icon-paperclip" aria-hidden="true"></span>
        <span>SUBMIT A RESOURCE</span>
      </a>

    </div>

  </section>

</div>