---
layout: default
vue: true;
news: true;
---

{% include templates.html %}

<div class="news-wrapper-2">

  <ul id="news-feed" class="categories-2">
    <li class="category">
      <input type="checkbox" name="tabs" checked="checked" id="tab2" class="news-input">
      <label for="tab2" class="category-title"><h2>News & Updates</h2></label>
      <div id="tab-content2" class="content">

        <div class="news-search">
          <form class="news-search-bar" role="search">
            <input type="search" placeholder="Filter Search" v-model="searchQuery">
          </form>
        </div>

        <ul is="news-feed"
          :data="newsfeed"
          :filter-key="searchQuery"
          :filters="filterSelection">
          {% assign items = site.news | concat: site.events | sort: 'date' %}
          {% for item in items %}
          {% if item.collection == 'news' %}
          <li class="news">
            <a href="{{ item.link }}">
              <h3 class="news-header">{{ item.title }}</h3>
            </a>
            <p class="news-author">{{ item.author }}</p>
            <p class="news-date">{{ item.date | date_to_long_string }}</p>
            <p class="news-description">{{ item.description }}</p>
          </li>
          {% endif %}
          {% if item.collection == 'events' %}
          <li class="event">
            <a href="{{ item.link }}">
              <h3 class="event-header">{{ item.title }}</h3>
            </a>
            <span class="event-start">{{ item.date | date_to_long_string }}</span>
            {% if item.end_date %}
            <span class="event-end"> - {{ item.end_date | date_to_long_string }}</span>
            {% endif %}
            <p>{{ item.description }}</p>
            <span>Locations</span>
            <ul class="event-locations">
              {% for location in item.locations %}
              <li class="event-location">{{ location }}</li>
              {% endfor %}
            </ul>
          </li>
          {% endif %}
          {% endfor %}
        </ul>
      </div>
    </li>
  </ul>

  <div class="category twitter-timeline-container">
    <input type="checkbox" name="tabs" checked="checked" id="tab1" class="news-input">
    <label for="tab1" class="category-title"><h2>Twitter</h2></label>
    <div id="tab-content1" class="content">
      <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/hashtag/SDGs" data-chrome="nofooter transparent noheader" data-widget-id="938913200308965376">#SDGs Tweets</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>
  </div>

</div>
