---
layout: default
---

<div class="news-wrapper">

  <ul class="categories">

    <li class="category">
      <input type="checkbox" name="tabs" checked="checked" id="tab1" class="news-input">
      <label for="tab1" class="category-title"><h2>News</h2></label>
      <div id="tab-content1" class="content">
        <ul>
          {% for news in site.news %}
          <li class="news">
            <a href="{{ news.link }}">
              <h3 class="news-header">{{ news.title }}</h3>
            </a>
            <p class="news-author">{{ news.author }}</p>
            <p class="news-date">Published on {{ news.date | date_to_long_string }}</p>
            <p class="news-description">{{ news.description }}</p>
          </li>
          {% endfor %}
        </ul>
      </div>
    </li>

    <li class="category">
      <input type="checkbox" name="tabs" id="tab2" class="news-input">
      <label for="tab2" class="category-title"><h2>Events</h2></label>
      <div id="tab-content2" class="content">
        <ul>
          {% for event in site.events %}
          <li class="event">
            <a href="{{ event.link }}">
              <h3 class="event-header">{{ event.title }}</h3>
            </a>
            <p class="event-date">Published on {{ event.date | date_to_long_string }}</p>
            <span class="event-start">{{ event.date | date_to_long_string }}</span>
            {% if event.end_date %} - 
            <span class="event-end">{{ event.end_date | date_to_long_string }}</span>
            {% endif %}            <p>{{ event.description }}</p>
            <span>Locations</span>
            <ul class="event-locations">
              {% for location in event.locations %}
              <li class="event-location">{{ location }}</li>
              {% endfor %}
            </ul>
          </li>
          {% endfor %}
        </ul>
      </div>
    </li>

    <li class="category">
      <input type="checkbox" name="tabs" id="tab4" class="news-input">
      <label for="tab4" class="category-title"><h2>Twitter</h2></label>
      <div id="tab-content4" class="content">
        <div class="twitter-timeline-container-tab">
          <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/hashtag/SDGs" data-chrome="nofooter transparent" data-widget-id="938913200308965376">#SDGs Tweets</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </div>
      </div>
    </li>
  </ul>

</div>
