---
layout: default
---

<div class="news-wrapper-2">

  <div class="tab-menu-wrapper">

    <div class="tabs-2">

      <input type="radio" name="tabs" checked="checked" id="tab2" class="tab-input">
      <label for="tab2" class="tab-label"><h2>News</h2></label>

      <div id="tab-content2" class="tab-content">
        <ul>
          {% for news in site.news %}
          <li class="news">
            <article tabindex="0">
              <a href="{{ news.link }}" target="_blank">
                <h3 class="news-header">{{ news.title }}</h3>
              </a>
              <p class="news-author">{{ news.author }}</p>
              <p class="news-date">Published on {{ news.date | date_to_long_string }}</p>
              <p class="news-description">{{ news.description }}</p>
            </article>
          </li>
          {% endfor %}
        </ul>
      </div>

      <input type="radio" name="tabs" id="tab3" class="tab-input">
      <label for="tab3" class="tab-label"><h2>Events</h2></label>

      <div id="tab-content3" class="tab-content">
        <ul>
          {% for event in site.events %}
          <li class="event">
            <a href="{{ event.link }}" target="_blank">
              <h3 class="event-header">{{ event.title }}</h3>
            </a>
            <p class="event-date">Published on {{ event.date | date_to_long_string }}</p>
            <span class="event-start">{{ event.date | date_to_long_string }}</span>
            {% if event.end_date %} - 
            <span class="event-end">{{ event.end_date | date_to_long_string }}</span>
            {% endif %}
            <p>{{ event.description }}</p>
            <span>Locations</span>
            <ul class="event-locations">
              {% for location in event.locations %}
              <li class="event-location">{{ location }}</li>
              {% endfor %}
            </ul>
          </li>
          {% endfor %}
        </ul>
      </div>

    </div>

  </div>

  <div class="category twitter-timeline-container">
    <input type="checkbox" name="tabs" checked="checked" id="tab1" class="news-input">
    <label for="tab1" class="category-title"><h2>Twitter</h2></label>
    <div id="tab-content1" class="content">
      <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/hashtag/SDGs" data-chrome="nofooter transparent noheader" data-widget-id="938913200308965376">#SDGs Tweets</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>
  </div>

</div>
