---
layout: default
vue: true
table: true
---

<script type="text/x-template" id="directory-table-template">
  <table>
    <thead>
      <tr>
        <th v-for="key in columns"
          @click="sortBy(key)"
          :class="{ active: sortKey == key }">
          (( key | capitalize ))
          <span class="arrow" :class="sortOrders[key] > 0 ? 'asc' : 'dsc'">
          </span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="entry in filteredData">
        <td><a href="(( entry['url'] ))">(( entry['title'] ))</td>
        <td>(( entry['organization'] ))</td>
        <td>(( entry['description'] ))</td>
      </tr>
    </tbody>
  </table>
</script>

<div id="directory">
  <form class="search-bar" role="search">
    <input type="search" placeholder="Enter Search" v-model="searchQuery">
    <input type="submit" value="Search Resources">
  </form>
  <div class="directory-table_wrapper">
    <directory-table
      :data="resources"
      :columns="gridColumns"
      :filter-key="searchQuery">
    </directory-table>
  </div>
</div>

<!--<div id="directory">
  <table id="directory-table">
    <caption>Directory of Resources</caption>
    <thead>
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Organization</th>
        <th scope="col">Type</th>
        <th scope="col">URL</th>
      </tr>
    </thead>
    <tbody>
      {% for resource in site.resources %}
      <tr>
        <td>{{ resource.title }}</td>
        <td>{{ resource.organization }}</td>
        <td>{{ resource.type }}</td>
        <td>{{ resource.link }}</td>
      </tr>
      {% endfor %}
    </tbody>
    <tfoot>
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Organization</th>
        <th scope="col">Type</th>
        <th scope="col">URL</th>
      </tr>
    </tfoot>
  </table>
</div>-->
