---
layout: default
vue: true
search: true
---

<script type="text/x-template" id="directory-list-template">
  <ul class="grid-list">
    <li class="grid-item" v-for="(resource, index) in filteredData">
      <img class="featured-image">
      <section class="description">
        <h3 class="title">
            <a :title="resource.title">(( resource.title ))</a>
        </h3>
        <p class="organization">(( resource.organization ))</p>
      </section>
    </li>
  </ul>
</script>

<div id="directory">
  <form class="search-bar" role="search">
    <input type="search" placeholder="Enter Search" v-model="searchQuery">
    <input type="submit" value="Search Resources">
  </form>
  <directory-list
    :data="resources"
    :filter-key="searchQuery">
  </directory-list>
</div>
