---
title: Search Resources
permalink: /resources/
navigation_weight: 1
layout: default
resources-list: true
---

<header role="banner" class="banner directory-banner">
  <div class="banner-content">
  	<h1 class="banner-heading">Search Resources</h1>
    {% include search-bar.html %}
  </div>
  <a class="banner-submit-resource-button button" href="/contact/">
    <i class="fa fa-paperclip fa-lg" aria-hidden="true"></i>
    <span>SUBMIT A RESOURCE</span>
  </a>
</header>

<div id="directory" class="search-directory">
    {% include filter-sidebar.html %}

    <div class="resource-list-module">
      <ul class="resource-list"
        is="resource-list">
      </ul>

      <div class="pagination">
        <ul>
          <li class="page-prev"><a href="javascript:void(0)">Prev</a></li>
          <li>
            <ul>
              <li><a href="javascript:void(0)">1</a></li>
              <li><a href="javascript:void(0)">2</a></li>
              <li><a href="javascript:void(0)">3</a></li>
              <li><a href="javascript:void(0)">4</a></li>
            </ul>
          </li>
          <li class="page-next"><a href="javascript:void(0)">Next</a></li>
        </ul>
      </div>
    </div>

</div>

<section class="submit-resource-section">
<div class="submit-resource-heading">SUBMIT A RESOURCE</div>
<p class="submit-resource-content">Do you have a resource you would like to contribute? Please visit our submission form.</p>
<a class="submit-resource-button button" href="/contact/">
  <i class="fa fa-paperclip fa-lg" aria-hidden="true"></i>
  <span>SUBMIT A RESOURCE</span>
</a>
</section>