---
layout: default
vue: true
table: true
---

<script type="text/x-template" id="directory-table-template">
  <table>
    <thead>
      <tr>
        <th role="col" v-for="key in columns"
          @click="sortBy(key)"
          :class="{ active: sortKey == key }">
          (( key | capitalize ))
          <span class="arrow" :class="sortOrders[key] > 0 ? 'asc' : 'dsc'">
          </span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="resource in filteredData">
        <td><a :href="(( resource.url ))">(( resource.title ))</a></td>
        <td>(( resource.organization ))</td>
        <td>(( resource.date_published ? resource.date_published.substring(0,7) : 'N/A' ))</td>
        <td>(( resource.description ))</td>
        <td>
          <ul class="resource-languages-list">
            <li class="language-tag" v-for="lang in resource.languages">(( lang ))</li>
          </ul>
        </td>
        <td>
          <ul class="resource-tags-list">
            <li class="subject-tag" v-for="tag in resource.tags">(( tag ))</li>
          </ul>
        </td>
      </tr>
    </tbody>
  </table>
</script>

<script type="text/x-template" id="filter-template">
  <li class="filter">
    <div class="filter-select" v-bind:class="{ 'hide-options': !visible }" v-on:click="visible = true">
      <label class="summary" data-role="summary">(( filterType ))</label>
      <button class="clear" type="button" v-on:click="clear">Clear</button>
      <ol class="filter-list">
        <li v-for="option in options">
          <input :id="'f-' + (( option ))" type="checkbox" :value="(( option ))" v-model="filterValues">
          <label :for="'f-' + (( option ))">(( option ))</label>
        </li>
      </ol>
    </div>
  </li>
</script>

<div id="directory">

  <div class="search-tools">

    <form class="search-bar" role="search">
      <input type="search" placeholder="Enter Search" v-model="searchQuery">
      <input type="submit" value="Search Resources">
    </form>

    <ul class="filters">

      <div class="filter"
        is="search-filter"
        v-bind:filter-type="'Organization'"
        v-bind:options=[]>
        <div class="filter-select">
          <label class="summary" data-role="summary">Organization</label>
        </div>
      </div>

      <div class="filter"
        is="search-filter"
        v-bind:filter-type="'Year'"
        v-bind:options=[2011,2017]>
        <div class="filter-select">
          <label class="summary" data-role="summary">Year</label>
        </div>
      </div>

      <div class="filter"
        is="search-filter"
        v-bind:filter-type="'Language'"
        v-bind:options=['English','French','Spanish']>
        <div class="filter-select">
          <label class="summary" data-role="summary">Language</label>
        </div>
      </div>

      <li class="filter-update">
        <button>Update</button>
      </li>
    </ul>

  </div>

  <aside class="contribute-resource-call-out">Do you have a resource you would like to contribute? Please visit our <a href="/submit-form">submission form</a>.</aside>

  <div class="directory-table_wrapper">
    <directory-table
      :data="resources"
      :columns="gridColumns"
      :filter-key="searchQuery"
      :filters="filterSelection">
    </directory-table>
  </div>

</div>
