---
title: Search Resources
permalink: /resources/
navigation_weight: 1
layout: default
resources-js: true
---
<div id="directory">
  <header role="banner" class="banner directory-banner">
    <div class="banner-content">
    	<h1 class="banner-heading">Search Resources</h1>
      {% include search-bar.html %}
    </div>
    <a class="banner-submit-resource-button button" href="/contact/">
      <i class="fa fa-paperclip fa-lg" aria-hidden="true"></i>
      <span>SUBMIT A RESOURCE</span>
    </a>
  </header>
  
  <div class="search-directory">
      {% include filter-sidebar.html %}
  
      <div class="resource-list-module">

        <resource-list
          :resources="resources"
          :filter-tags="selectedFilters.tags"
          :total-results="pagination.totalResults"
          @select-filter-tag="addTag"
          @deselect-filter-tag="removeTag">
        </resource-list>
  
        <pagination
          :current-page="pagination.currentPage"
          :items-per-page="pagination.resultsPerPage"
          :total-items="pagination.totalResults"
          @page-changed="refresh"></pagination>
  
      </div>
  
  </div>
  
  <section class="submit-resource-section">
    <div class="submit-resource-heading">SUBMIT A RESOURCE</div>
    <p class="submit-resource-content">Do you have a resource you would like to contribute? Please visit our submission form.</p>
    <a class="submit-resource-button button" href="/contact/">
      <i class="fa fa-paperclip fa-lg" aria-hidden="true"></i>
      <span>SUBMIT A RESOURCE</span>
    </a>
  </section>
</div>