---
layout: default
vue: true
search: true
---

{% include vue-templates/resource-grid.html %}

{% include vue-templates/filter.html %}

{% include vue-templates/filter-option.html %}

<div id="directory">

  {% include submission-call.html %}

  <div class="search-directory-wrapper">

    {% include search-bar.html %}

    {% include filter-sidebar.html %}

    <ul class="grid-list"
      is="directory-list"
      :data="resources"
      :filter-key="searchQuery"
      :filters="filterSelection">
      <li class="grid-item"></li>
    </ul>

  </div>

</div>
