---
title: Search Resources
permalink: /resources/
navigation_weight: 1
layout: default
resources-list: true
---

<header role="banner" class="banner directory-banner">
  <div class="banner-content">
  	<h1 class="banner-heading">Search Resources</h1>
    {% include search-bar.html %}
  </div>
</header>

<div id="directory" class="search-directory">

  <div class="search-directory-wrapper">

    {% include filter-sidebar.html %}

    <ul class="resource-list"
      is="resource-list">
    </ul>

  </div>

</div>
