---
layout: default
vue: true
search: true
---

<script type="text/x-template" id="directory-list-template">
  <ul class="resource-list">
    <li class="resource-list-item" v-for="(resource, index) in filteredData" tabindex="0">
      <img class="resource-image">
      <section class="resource-info">
        <h3 class="resource-title">
            <a :href="(( resource.url ))" target="_blank">(( resource.title ))</a>
        </h3>
        <div class="resource-organization">(( resource.organization ))</div>
        <div class="resource-date-published" v-if="(( resource.date_published ))">Published (( resource.date_published ))</div>
        <div class="resource-description">(( resource.description ))</div>
        <div class="resource-languages" v-if="(( resource.languages.length > 0 ))">
          <span class="resource-languages-label">Language(s)</span>
          <ul class="resource-languages-list">
            <li class="language-tag" v-for="lang in resource.languages">(( lang ))</li>
          </ul>
        </div>
        <div class="resource-tags" v-if="(( resource.tags.length > 0 ))">
          <span class="resource-tags-label">Tags</span>
          <ul class="resource-tags-list">
            <li class="subject-tag" v-for="tag in resource.tags">(( tag ))</li>
          </ul>
        </div>
      </section>
    </li>
  </ul>
</script>

{% include resource_templates.html %}

<div id="directory">

  <div class="search-tools">

    <form class="search-bar" role="search">
      <input type="search" placeholder="Enter Search" v-model="searchQuery">
      <input type="submit" value="Search Resources">
    </form>

    <div class="filters">

      <div class="filter"
        is="search-filter"
        v-bind:filter-type="'Organization'"
        v-bind:options=[]>
        <div class="filter-select">
          <label class="summary" data-role="summary">Organization</label>
        </div>
      </div>

      <div class="filter"
        is="search-filter"
        v-bind:filter-type="'Year'"
        v-bind:options=[2011,2017]>
        <div class="filter-select">
          <label class="summary" data-role="summary">Year</label>
        </div>
      </div>

      <div class="filter"
        is="search-filter"
        v-bind:filter-type="'Language'"
        v-bind:options=['English','French','Spanish']>
        <div class="filter-select">
          <label class="summary" data-role="summary">Language</label>
        </div>
      </div>

      <div class="filter-update">
        <button>Update</button>
      </div>

    </div>

  </div>

  {% include submission_call.html %}

  <ul class="resource-list"
    is="directory-list"
    :data="resources"
    :filter-key="searchQuery"
    :filters="filterSelection">
    <li class="resource-list-item"></li>
  </ul>

</div>
