.contact-form-wrapper {
  padding-top: 2rem;
  letter-spacing: 0.03em;
}

.contact-form-header {
  font-weight: 600;
  letter-spacing: 0.04em;
  text-align: center;
}

.contact-form-heading {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  color: rgba(0, 0, 0, 1);
}

.contact-form-intro {
  padding: 1em 0;
  font-size: 1.25em;
}

.field-label {
  display: block;
  font-size: 0.9em;
}

.name-fieldset, .interests-fieldset {
  margin: 0 0 1.5em 0;
  border: none;
  padding: 0;
}

.name-fieldset {
  margin-left: -2%;
}

.name-field, .email-field {
  margin-left: 2%;
  float: left;

  input[type=text] {
    margin-bottom: 0.375em;
  }
}

.name-field {
  width: 48%;
}

.email-field {
  width: 98%;
}

.caption {
  padding: 0.4em 0;
  font-size: 0.75em;
  font-style: italic;
  color: rgba(0, 0, 0, 0.6);
}

.checkbox-label {
  display: block;
  padding: 0.25em 0;
  font-size: 0.9em;

  input[type=checkbox] {
    margin: 0 0.5em 0 0;
    cursor: pointer;
  }
}

.field-element {
  box-sizing: border-box;
  width: 100%;
  margin: 0.375em 0 1.5em;
  border: 1px solid #ccc;
  border-radius: 0.125em;
  padding: 0.5em;
  font-size: 1em;
  background: #fafafa;
}

.message-textarea {
  min-height: 10em;
  resize: vertical;
}

.description-textarea {
  min-height: 10em;
  resize: vertical;
}

#contact-form {
  select {
    font: inherit;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
}
