$form-label-font-size: 0.85em;

.contact-form-wrapper {
  letter-spacing: 0.03em;

  input {
    font-size: 0.85em;
  }

  /* Remove default browser styling on selection inputs. */
  select {
    position: relative;
    font: inherit;
    font-size: 0.85em;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    &:after {
      font-family: "FontAwesome";
      content: "\f078";
      position: absolute;
      right: 0;
    }

    & .initial-option {
      color: rgba(0,0,0,0.5);
    }
  }
}

.contact-form-header {
  font-weight: 700;
  letter-spacing: 0.04em;
  text-align: center;
}

.contact-form-heading {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  color: rgba(0, 0, 0, 1);
}

.contact-form-intro-heading {
  font-size: 1.5em;
  line-height: 2.2em;
}

.contact-form-intro {
  padding: 1em 0;
}

.field-label {
  position: relative;
  display: block;
  font-size: $form-label-font-size;
}

.name-fieldset,
.interests-fieldset,
.topics-fieldset {
  margin: 0 0 1.5em 0;
  border: none;
  padding: 0;
}

.name-fieldset {
  margin-left: -2%;
}

.topics-fieldset {
  ul {
    column-count: 3;
  }
}

.name-field, .email-field {
  margin-left: 2%;
  float: left;

  input[type=text] {
    margin-bottom: 0.375em;
  }
}

.name-field {
  width: 48%;
}

.email-field {
  width: 98%;
}

.caption {
  padding: 0.4em 0;
  font-size: 0.75em;
  font-style: italic;
  color: rgba(0, 0, 0, 0.6);
}

.checkbox-label {
  display: block;
  padding-top: 1.5rem;
  font-size: $form-label-font-size;

  input[type=checkbox] {
    margin: 0 0.5em 0 0;
    cursor: pointer;
  }
}

.tabbed {
  padding: 4em 12em;
}

.tabs {
  display: block;
  border-bottom: 2px solid black;

  li {
    display: inline-block;
    margin: 0 1em;

    a {
      display: inline-block;
      border: 2px solid black;
      border-bottom: none;
      padding: 1em;
      text-decoration: none;
    }

    a.active {
      border-bottom: 2px solid white;
    }
  }
}

.tab:focus,
.tab:hover {
  background-color: darken(rgba(220, 220, 220, 1), 10%);
}

.tab-content {
  display: none;

  &:target {
    display: block;
  }
}

.field-element {
  box-sizing: border-box;
  width: 100%;
  margin: 0.375em 0 1.5em;
  border: 1px solid $ui-blue;
  border-radius: 0;
  padding: 0.7em;
  font-size: 1em;
  background: #fafafa;
}

.message-text-input,
.description-text-input,
.additional-info-text-input {
  min-height: 10em;
  resize: vertical;
}