$grid-item-placeholders:
  "01.jpg",
  "02.jpg",
  "03.jpg",
  "04.jpg",
  "05.jpg",
  "06.jpg",
  "07.jpg",
  "08.jpg",
  "09.jpg",
  "10.jpg",
  "11.jpg",
  "12.jpg",
  "13.jpg",
  "14.jpg",
  "15.jpg",
  "16.jpg",
  "17.jpg",
  "18.jpg",
  "19.jpg",
  "20.jpg";

.hide-resource {
  display: none !important;
}

.resource-list-toggle {
  display: block;
  margin: 0 auto;
  border-radius: 0;
  border-color: #34a8fc;
  padding: 1em 2.5em;
  background-color: #34a8fc;
  text-align: center;
  color: #020b4f;
  font-family: Oswald;
  font-weight: 700;
  font-size: 0.75em;
  letter-spacing: .05em;
  text-transform: uppercase;
  cursor: pointer;
}

.resource-date-published {
  margin-bottom: 1em;
}

.resource-languages-label,
.resource-tags-label {
  display: inline-block;
  min-width: 6em;
}

.resource-languages,
.resource-tags {
  margin: 0;
  line-height: 2em;
  text-align: left;
  list-style: none;
}

.resource-languages-list,
.resource-tags-list {
  display: inline;
  margin: 0;
}

.language-tag,
.subject-tag {
  display: inline-block;
  margin: 0.1em;
  padding: 0.3em 0.4em;
  background-color: gainsboro;
}

.resource-image {
  object-fit: cover;
}

.resource-info {
  padding: 1.2em;
  font-size: 0.8em;
}

.resource-description {
  padding: 1.2em;
  font-size: 1.2em;
}

.grid-list {
  @include grid-container;
  $action-color: #477DCA !default;
  $grid-item-colors:
    desaturate($action-color, 30%),
    #3581A5,
    #5FBEBE,
    #98C79A,
    #A7A891,
    #BDCC97,
    #979EA0;
  $base-background-color: white !default;
  $grid-items-background: $base-background-color;
  $grid-item-background: desaturate($action-color, 30%);
  $grid-item-height: $spacing-unit * 14;
  $featured-image-height: $spacing-unit * 6;

  margin: 0;

  $x-small-grid: (
    columns: 12,
    gutter: 2em,
    media: 320px,
  );

  $small-grid: (
    columns: 12,
    gutter: 2em,
    media: 620px,
  );

  $med-grid: (
    columns: 12,
    gutter: 2em,
    media: 900px,
  );

  .grid-item {
    @include grid-media($x-small-grid) {
      @include grid-column(12);
    }

    @include grid-media($small-grid) {
      @include grid-column(6);
    }

    @include grid-media($med-grid) {
      @include grid-column(4);
    }

    box-sizing: border-box;
    max-width: 24em;
    height: 27em;
    margin-bottom: 2em;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.3em;
    padding: 0;
    background-color: #fff;
    outline: none;
    overflow-y: scroll;
    text-align: left;
    text-decoration: none;
    transition: all 0.2s ease-in-out;

    &:focus,
    &:hover {
      background-color: darken(#fff, 3%);
    }

    @for $i from 1 through length($grid-item-placeholders) { 
      &:nth-child(#{$i}) {
        $img-from-list: nth($grid-item-placeholders, $i);

        .resource-image {
          background-image: url("/assets/img/placeholders/#{$img-from-list}");
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
        }
      }
    }
  }

  .resource-image {
    width: 100%;
    height: $featured-image-height;
  }
}

.resource-list-group {

}

.resource-list,
.resource-list-group {
  @include grid-container;
  $action-color: #477DCA !default;
  $base-background-color: white !default;
  $grid-items-background: $base-background-color;
  $grid-item-background: desaturate($action-color, 30%);
  $grid-item-height: $spacing-unit * 7;
  $featured-image-height: $spacing-unit * 6;

  $img-placeholders:
    "01.jpg",
    "02.jpg",
    "03.jpg",
    "04.jpg",
    "05.jpg",
    "06.jpg",
    "07.jpg",
    "08.jpg",
    "09.jpg",
    "10.jpg",
    "11.jpg",
    "12.jpg",
    "13.jpg",
    "14.jpg",
    "15.jpg",
    "16.jpg",
    "17.jpg",
    "18.jpg",
    "19.jpg",
    "20.jpg";

  padding: 0 10em;

  .resource-list-item,
  .resource-list-group-head {
    @include grid-column(12);

    box-sizing: border-box;
    min-height: $grid-item-height;
    padding: 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.3em;
    background-color: #fff;
    outline: none;
    overflow: hidden;
    text-align: center;
    text-decoration: none;
    transition: all 0.2s ease-in-out;

    @for $i from 1 through length($img-placeholders) { 
      &:nth-child(#{$i}) {
        $img-from-list: nth($img-placeholders, $i);

        .resource-image {
          background-image: url("/assets/img/placeholders/#{$img-from-list}");
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
        }
      }
    }
  }

  .resource-list-item {
    display: flex;
    margin-bottom: 2em;
  }

  .resource-list-group-head {
    display: block;
    margin-bottom: 0.3em;
    border-radius: 0.3em;
    padding: 3em;
    background-color: darken(#fff, 10%);
  }

  .resource-image {
    width: 30%;
  }

  .resource-info {
    width: 70%;
  }
}

.resource-list {
  margin: 0;
}

.resource-list-group {
  margin-bottom: 2em;

  .resource-list-item {
    margin-bottom: 0.3em;
  }
}

.directory-table_wrapper {
  padding: 0 5em;
}

#directory {
  padding: 8.375em 0 5em;
  background-image: url('/assets/img/happy_children.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;

  table {
    border-radius: 3px;
    border-collapse: collapse;
    font-size: 0.8em;
    color: #2c3e50;
  }

  thead {
    tr {
      position: relative;
    }

    th {
      background-color: #020b4f;
      color: rgba(255,255,255,0.66);
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    th.active {
      color: #fff;
    }

    th.active .arrow {
      opacity: 1;
    }

    .arrow {
      display: inline-block;
      vertical-align: middle;
      width: 0;
      height: 0;
      margin-left: 5px;
      opacity: 0.66;
    }

    .arrow.asc {
      border-left: 4px solid transparent;
      border-right: 4px solid transparent;
      border-bottom: 4px solid #fff;
    }

    .arrow.dsc {
      border-left: 4px solid transparent;
      border-right: 4px solid transparent;
      border-top: 4px solid #fff;
    }
  }

  tbody {
    //display: block;
    //width: 100%;
    height: $table_body_height;
    overflow: auto;
  }

  td {
    //background-color: #f9f9f9;
    border-bottom: 1px solid #020b4f;
    background-color: rgba(255,255,255,0.75);
  }

  th, td {
    min-width: 120px;
    padding: 10px 20px;
  }
}
