.hide-resource {
  display: none !important;
}

.resource-search-section {
  @extend %clearfix;

  position: relative;
  padding: $mobile-padding;

  @include for-tablet-portrait-up {
    padding: $tablet-padding;
  }

  @include for-desktop-up {
    padding: $site-padding;
  }
}

.resource-search-section-content {
  @extend %section-content;

  @include grid-container;
}

.resource-list-toggle {
  display: block;
  margin: 0 auto;
  border-radius: 0;
  border-color: #34a8fc;
  padding: 1em 2.5em;
  background-color: #34a8fc;
  text-align: center;
  color: #020b4f;
  font-family: Oswald;
  font-weight: 700;
  font-size: 0.8em;
  letter-spacing: .05em;
  text-transform: uppercase;
  cursor: pointer;
}

.results-counter {
  margin-bottom: 1rem;
}

.reset-resource-list {
  text-decoration: underline;
  cursor: pointer;
}

.resource-languages-label,
.resource-tags-label {
  display: inline-block;
  min-width: 6rem;
}

.resource-languages,
.resource-tags,
.news-tags {
  margin: 0.5rem 0 0.5rem;
  line-height: 2em;
  text-align: left;
  list-style: none;
}

.resource-languages-list,
.resource-tags-list {
  display: inline;
  margin: 0;
}

.subject-tag {
  display: inline-block;
  margin: 0 0.3rem 0.3rem 0;
  padding: 0.3rem 0.4rem;
  background-color: $color-pattens-blue;
  line-height: 1em;
  color: $text-color-dark;
  cursor: pointer;

  &:hover {
    background-color: $color-french-pass;
  }

  .icon-close {
    font-size: 0.7rem;
  }
}

.resource-list-module {
  @include grid-column(2, $col-3);

  @include for-mobile-only {
    @include grid-collapse;

    margin-bottom: 2.5rem;
  }
}

.resource-list,
.resource-list-group {
  margin-bottom: 2rem;

  .resource-list-item,
  .resource-list-group-head {
    padding: 2rem 0;
    font-size: 1rem;
  }

  .resource-list-item:first-child {
    padding: 0 0 2rem 0;
  }
}

.resource-list-group-head {
  display: block;
  margin-bottom: 0.3em;
  border-radius: 0.3em;
  padding: 3em;
  background-color: darken($color-white, 10%);
}

.resource-list-item {
  display: flex;
  box-sizing: border-box;
  padding: 0;
  border-bottom: 1px solid $color-alto;
  background-color: #fff;
  font-size: 1.2rem;
  text-decoration: none;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
}

.resource-image {
  float: right;
  height: 10rem;
  width: 13rem;
  margin: 0 0 2rem 2rem;
  border: 1px solid $color-alto;
  object-fit: cover;
}

.resource-title {
  margin-bottom: 1rem;

  a:hover {
    text-decoration: none;
    color: $link-color-hover;
  }
}

.resource-organization {
  margin-bottom: 1rem;
  font-style: italic;
}

.resource-description {
  margin: 1rem 0;
}

.resource-list-group {
  margin: 0 5rem 2rem;
}

.resource-list-group-description {
  padding: 1rem 0 1.5rem;
}

.directory-heading {
  display: block;
  margin-bottom: 3rem;
  padding: 0.5rem 0;
  background-color: rgba(255,255,255,0.5);
  font-size: 3em;
  text-align: center;
}

.directory-listing {
  width: 20%;
  margin: 0 0 0 5rem;

  ul {
    margin: 0;
    list-style: none;

    li {
      margin-bottom: 2rem;
      font-size: 1.2rem;
    }
  }
}

.directory-group {
  display: flex;
  clear: both;
}

.resource-groups-container {
  width: 80%;
}

.help-nav {
  margin: 0 10rem 4rem;
  font-size: 2rem;
  text-align: center;

  div {
    margin-bottom: 2rem;
  }

  ul {
    display: flex;
    justify-content: center;

    li {
      margin: 0 1em;

      a {
        display: block;
        width: 7em;
        padding: 1em;
        background-color: rgba(230, 230, 230, 0.7);
        font-size: 0.8em;
        text-decoration: none;

        &:hover {
          background-color: rgba(255, 255, 255, 0.7);     
        }
      }
    }
  }
}

.no-results-heading {
  font-size: 2rem;
}