@font-face {
  font-family: 'SDG NRI Icons';
  src:  url('../fonts/sdg-nri-icons.eot?m7sgnv');
  src:  url('../fonts/sdg-nri-icons.eot?m7sgnv#iefix') format('embedded-opentype'),
    url('../fonts/sdg-nri-icons.ttf?m7sgnv') format('truetype'),
    url('../fonts/sdg-nri-icons.woff?m7sgnv') format('woff'),
    url('../fonts/sdg-nri-icons.svg?m7sgnv#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

@mixin icon() {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'SDG NRI Icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin icon-explore-topics-nav() {
  &:before {
    @include icon;

    content: "\e908\A";
    color: $color-dodger-blue;
    font-size: 1.5em;
    white-space: pre;
  }
}

@mixin dropdown-explore-topics-nav() {
  &:after {
    @include icon;

    content: "\00a0\e906";
    color: $color-dodger-blue;
    font-size: 0.7em;
  }
}

@mixin icon-search-resources-nav() {
  &:before {
    @include icon;
    content: "\e90f\A";
    color: $color-dodger-blue;
    font-size: 1.5em;
    white-space: pre;
  }
}

@mixin icon-news-and-events-nav() {
  &:before {
    @include icon;

    content: "\e90b\A";
    color: $color-dodger-blue;
    font-size: 1.5em;
    white-space: pre;
  }
}

@mixin icon-contact-us-nav() {
  &:before {
    @include icon;

    content: "\e905\A";
    color: $color-dodger-blue;
    font-size: 1.5em;
    white-space: pre;
  }
}

@mixin icon-contact-us-form() {
  &:before {
    @include icon;

    content: "\e905\00a0";
    color: $text-color-dark;
    font-size: 0.8em;

    @include for-mobile-only {
      content: "";
    }
  }
}

@mixin icon-submit-resource-form() {
  &:before {
    @include icon;

    content: "\e90c\00a0";
    color: $text-color-dark;
    font-size: 0.8em;

    @include for-mobile-only {
      content: "";
    }
  }
}

[class^="icon-"], [class*=" icon-"] {
  @include icon;
}

.icon-arrow:before {
  content: "\e900";
  color: #020b4f;
  font-size: 0.7em;
}
.icon-arrow-reverse {
  @extend .icon-arrow;

  display: inline-block;
  transform: rotateY(180deg);
}
.icon-blue-arrow:before {
  content: "\e901";
  color: #2c94f8;
  font-size: 0.7em;
}
.icon-check:before {
  content: "\e910";
  color: #fff;
}
.icon-calendar:before {
  content: "\e902";
}
.icon-close-blue:before {
  content: "\e903";
  color: #b7eaff;
}
.icon-close:before {
  content: "\e904";
  color: #020b4f;
}
.icon-contact-us-mobile:before {
  content: "\e905";
  color: #34a8fc;
}
.icon-dropdown:before {
  content: "\e906";
  color: #34a8fc;
  font-size: 0.7em;
}
.icon-envelope:before {
  content: "\e907";
  color: #020b4f;
}
.icon-explore-topics-mobile:before {
  content: "\e908";
  color: #34a8fc;
}
.icon-location:before {
  content: "\e909";
}
.icon-minus:before {
  content: "\e90a";
  color: #34a8fc;
}
.icon-news-and-events-mobile:before {
  content: "\e90b";
  color: #34a8fc;
}
.icon-paperclip:before {
  content: "\e90c";
  color: #020b4f;
}
.icon-plus-for-buttons:before {
  content: "\e90d";
  color: #020b4f;
  font-size: 0.7em;
}
.icon-plus:before {
  content: "\e90e";
  color: #34a8fc;
}
.icon-search-resources-mobile:before {
  content: "\e90f";
  color: #34a8fc;
}