/**
 * Site header
 */
.site-header {
  width: 100%;
  /*min-height: $base-line-height * $base-font-size * 2.25;*/
  background-color: rgba(255, 255, 255, 1);

  // Positioning context for the mobile navigation icon
  position: relative;

  a, a:visited {
    color: rgba(2, 11, 79, 1);
  }

  a:hover {
    color: rgba(2, 11, 79, 1);
    text-decoration: none;
  }
}

.site-nav-wrapper {
  margin: 2rem;
  @extend %clearfix;
}

.site-title {
  display: inline-block;
  transform: translateY(0.25rem);
}

.site-title-stripe {
  display: block;
  max-height: 3rem;
  width: 100%;
  margin-bottom: 0.3rem;
}

.site-title-heading {
  font-family: Oswald;
  font-size: 1.625rem;
}

.site-nav {
  float: right;
  color: rgba(0, 0, 0, 1);
  line-height: $base-line-height * 2.25rem;

  .nav-trigger {
      display: none;
  }

  .menu-icon {
    display: none;
  }

  .page-link,
  .topics-dropdown {
    display: inline-block;
    font-size: 1.25em;
    line-height: $base-line-height;
    cursor: pointer;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 1.25em;
    }
  }

  .topics-dropdown-menu {
    box-sizing: border-box;
    left: 0;
    width: 100%;
    padding: 2rem 5rem;
    border-width: 0.25rem 0 0.25rem 0;
    border-style: solid;
    border-color: $ui-blue;
    background-color: $ui-light-blue;
    column-count: 3;

    nav > ul > li {
      padding-bottom: 1rem;
    }

    a:hover {
      background-color: darken(rgb(255, 255, 255), 10%);
    }

    h1, h2 {
      padding-bottom: 0.5rem;
    }

    h1 {
      font-size: 1.2rem;
      font-weight: 700;
      line-height: 1.2em;
    }

    h2 {
      font-size: 1rem;
    }

    .topics-dropdown-topic {
      -webkit-column-break-inside: avoid;
      page-break-inside: avoid;
      break-inside: avoid;
    }

    .topics-dropdown-subtopic-heading {
      margin-left: 1rem;
    }
  }

  .active {
    border-top-width: 3px;
    border-top-style: solid;
    border-top-color: $ui-blue;
    padding-top: 0.75rem;
  }
}



/**
 * Site footer
 */
.site-footer {
  display: flex;
  border-top: 1px solid $grey-color-light;
  padding: 4em 8em;
  background-color: #020b4f;
  font-size: 0.9em;
  font-weight: 300;
  color: #fff;

  a {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgba(255, 255, 255, 0.3);
    color: #fff;
    text-decoration: none;
  }

  a:hover {
    color: rgba(255, 255, 255, 0.6);
    border-color: rgba(255, 255, 255, 0.15);
  }
}

.footer-heading {
  margin-bottom: $spacing-unit / 2;
}

.footer-img {
  position: relative;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
}

.footer-col-wrapper {
  display: flex;
  @extend %clearfix;
}

.footer-col {
  float: left;
  padding-left: $spacing-unit / 2;
}

.footer-col-1 {
  width: -webkit-calc(60% - (#{$spacing-unit} / 2));
  width:         calc(60% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(40% - (#{$spacing-unit} / 2));
  width:         calc(40% - (#{$spacing-unit} / 2));
}

.footer-top {
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  padding-bottom: 2em;
}

.footer-bottom {
  margin-top: 2em;
}

.contact-info {
  width: 60%;
  margin: 0;
  font-style: normal;
  list-style: none;
}

.contact-website {
  padding: 1.5em 0;
}

.sponsors {
  width: 40%;
}

.footer-links-wrapper {
  width: 90%;
}

.footer-links {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-link {
  display: inline;
  padding-right: 1.75em;
}

.footer-npo-line {
  margin-bottom: 1em;
}

.cc-icon {
  width: 10%;
}



/**
 * Page content
 */
.page-heading {
  font-size: 1.25em;
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  font-size: 1.5em;
}



/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  letter-spacing: -1px;
  line-height: 1;
  font-size: 2.625em;
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    font-size: 2em;
  }

  h3 {
    font-size: 1.625em;
  }

  h4 {
    font-size: 1.25em;
  }
}
