/**
 * Site header
 */
.site-header {
  // Positioning context for the mobile navigation icon
  position: relative;

  width: 100%;
  background-color: $color-white;
}

.site-nav-container {
  @extend %clearfix;

  @include for-tablet-portrait-up {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.site-nav-links {
  display: flex;
  flex-wrap: nowrap;

  @include for-tablet-portrait-up {
    line-height: $base-line-height * 2.25rem;
  }
}

.site-nav-item {
  display: inline-block;
  width: 25%;
  border-color: transparent;
  cursor: pointer;

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  @include for-mobile-only {
    border-bottom-width: $active-link-border-width;
    border-bottom-style: solid;
    padding-bottom: 0.23rem;
    text-align: center;
    white-space: normal;

    &:not(:last-child) {
      border-right: 1px solid $color-silver;
    }
  }

  @include for-tablet-portrait-up {
    margin-top: 2.5rem;
    padding: 0.75rem 0 2.5rem 0;
    border-top-width: $active-link-border-width;
    border-top-style: solid;
    padding-top: 0.73rem;
    font-size: 1.25rem;
    line-height: $base-line-height;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 1.25em;
    }
  }
}

.topics {
  &.active {
    border-bottom-color: $color-apple;

    @include for-tablet-portrait-up {
      border-top-color: $color-apple;
    }
  }

  @include for-mobile-only {
    span {
      @include icon-explore-topics-mobile();
    }
  }
}

.resources {
  &.active {
    border-bottom-color: $color-saffron;

    @include for-tablet-portrait-up {
      border-top-color: $color-saffron;
    }
  }

  @include for-mobile-only {
    span {
      @include icon-search-resources-mobile();
    }
  }
}

.news {
  &.active {
    border-bottom-color: $color-razzmatazz;

    @include for-tablet-portrait-up {
      border-top-color: $color-razzmatazz;
    }
  }

  @include for-mobile-only {
    span {
      @include icon-news-and-events-mobile();
    }
  }
}

.contact {
  &.active {
    border-bottom-color: $color-dodger-blue;

    @include for-tablet-portrait-up {
      border-top-color: $color-dodger-blue;
    }
  }

  @include for-mobile-only {
    span {
      @include icon-contact-us-mobile();
    }
  }
}



/**
 * Site logo
 */
.site-logo {
  display: inline-block;

  @include for-mobile-only {
    margin: 1.5rem 2rem 1.5rem;
  }

  @include for-tablet-portrait-up {
    margin-left: 2.5rem;
  }
}

.topics-dropdown-menu-container {
  @extend .dropdown;
}

.topics-dropdown-menu-content {
  box-sizing: border-box;
  top: 100%;
  left: 0;
  width: 100%;
  padding: 2rem 5rem;
  border-width: 1px;
  border-style: solid;
  border-color: $color-silver;
  background-color: $color-pattens-blue;
  column-count: 3;
  line-height: 2rem;

  nav > ul > li {
    padding-bottom: 1rem;
  }

  a:hover {
    color: $color-dodger-blue;
  }
}

.topics-dropdown-topic {
  margin-bottom: 2rem;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
}

.topics-dropdown-topic-heading {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  font-weight: 700;
}

.topics-dropdown-subtopic-heading {
  margin: 0 0 0.25rem 0.7rem;
  font-size: 1rem;
}



/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid $color-alto;
  padding: $mobile-padding;
  background-color: #020b4f;
  color: $text-color-light;
  font-size: 0.9em;
  font-weight: 300;

  a {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgba(255, 255, 255, 0.3);
    color: #fff;
    text-decoration: none;
  }

  a:hover {
    color: rgba(255, 255, 255, 0.6);
    border-color: rgba(255, 255, 255, 0.15);
  }

  @include for-tablet-portrait-up {
    display: flex;
    padding: $tablet-padding;
  }

  @include for-tablet-landscape-up {
    padding: $site-padding;
  }
}

.footer-heading {
  margin-bottom: $spacing-unit / 2;
}

.footer-img {
  @include for-tablet-portrait-up {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
  }
}

.footer-col-wrapper {
  @include for-tablet-portrait-up {
    display: flex;
  }
}

.footer-col {
  float: left;
  padding-left: $spacing-unit / 2;
}

.footer-col-1 {
  width: -webkit-calc(60% - (#{$spacing-unit} / 2));
  width:         calc(60% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(40% - (#{$spacing-unit} / 2));
  width:         calc(40% - (#{$spacing-unit} / 2));
}

.footer-top {
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  padding-bottom: 2em;
}

.footer-bottom {
  margin-top: 2rem;
}

.contact-info {
  width: 100%;
  font-style: normal;
  list-style: none;

  @include for-mobile-only {
    margin-bottom: 1rem;
  }

  @include for-tablet-portrait-up {
    width: 60%;
    margin-right: 2rem;
  }
}

.contact-website {
  padding: 1.5em 0;
}

.sponsors {
  @include for-tablet-portrait-up {
    width: 40%;
  }
}

.footer-links-wrapper {
  width: 90%;
  margin-right: 2rem;
  opacity: 0.8;
}

.footer-links {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-link {
  display: inline;
  padding-right: 1.75em;
}

.footer-npo-line {
  margin-bottom: 1em;
}

.cc-icon {
  width: 10%;
}