/**
 * Site header
 */
.site-header {
  // Positioning context for the mobile navigation icon
  position: relative;

  width: 100%;
  background-color: $color-white;
}

.site-nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @extend %clearfix;
}



/**
 * Site logo
 */
.site-logo {
  display: inline-block;
  margin-left: 2.5rem;
}

.site-logo-color-bar {
  display: block;
  width: 100%;
  height: 3px;
  margin-bottom: 0.3rem;
}

.site-logo-heading {
  font-family: Oswald;
  font-size: 1.625rem;
}

.site-nav {
  display: inline-block;
  padding-right: 2rem;
  color: rgba(0, 0, 0, 1);
  line-height: $base-line-height * 2.25rem;

  .nav-trigger {
    display: none;
  }

  .menu-icon {
    display: none;
  }

  .page-link,
  .topics-dropdown-menu-container {
    display: inline-block;
    margin-top: 2.5rem;
    padding: 0.75rem 0 2.5rem 0;
    font-size: 1.25rem;
    line-height: $base-line-height;
    cursor: pointer;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 1.25em;
    }
  }

  .active {
    border-top-width: $active-link-border-width;
    border-top-style: solid;
    padding-top: 0.73rem;
  }
}

.topics-dropdown-menu-container.active {
  border-top-color: $color-apple;
}

.resources.active {
  border-top-color: $color-saffron;
}

.news.active {
  border-top-color: $color-razzmatazz;
}

.contact.active {
  border-top-color: $color-dodger-blue;
}

.topics-dropdown-menu-content {
  box-sizing: border-box;
  top: 100%;
  left: 0;
  width: 100%;
  padding: 2rem 5rem;
  border-width: 1px;
  border-style: solid;
  border-color: $color-silver;
  background-color: $color-pattens-blue;
  column-count: 3;
  line-height: 2rem;

  nav > ul > li {
    padding-bottom: 1rem;
  }

  a:hover {
    color: $color-dodger-blue;
  }
}

.topics-dropdown-topic {
  margin-bottom: 2rem;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
}

.topics-dropdown-topic-heading {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  font-weight: 700;
}

.topics-dropdown-subtopic-heading {
  margin: 0 0 0.25rem 0.7rem;
  font-size: 1rem;
}



/**
 * Site footer
 */
.site-footer {
  display: flex;
  border-top: 1px solid $color-alto;
  padding: 4em 8em;
  background-color: #020b4f;
  font-size: 0.9em;
  font-weight: 300;
  color: #fff;

  a {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgba(255, 255, 255, 0.3);
    color: #fff;
    text-decoration: none;
  }

  a:hover {
    color: rgba(255, 255, 255, 0.6);
    border-color: rgba(255, 255, 255, 0.15);
  }
}

.footer-heading {
  margin-bottom: $spacing-unit / 2;
}

.footer-img {
  position: relative;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
}

.footer-col-wrapper {
  display: flex;
  @extend %clearfix;
}

.footer-col {
  float: left;
  padding-left: $spacing-unit / 2;
}

.footer-col-1 {
  width: -webkit-calc(60% - (#{$spacing-unit} / 2));
  width:         calc(60% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(40% - (#{$spacing-unit} / 2));
  width:         calc(40% - (#{$spacing-unit} / 2));
}

.footer-top {
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  padding-bottom: 2em;
}

.footer-bottom {
  margin-top: 2em;
}

.contact-info {
  width: 60%;
  margin: 0;
  font-style: normal;
  list-style: none;
}

.contact-website {
  padding: 1.5em 0;
}

.sponsors {
  width: 40%;
}

.footer-links-wrapper {
  width: 90%;
  opacity: 0.8;
}

.footer-links {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-link {
  display: inline;
  padding-right: 1.75em;
}

.footer-npo-line {
  margin-bottom: 1em;
}

.cc-icon {
  width: 10%;
}