/**
 * Variables
 */
$checkbox-border-color: $color-dodger-blue;



/**
 * Striped Color Bar
 */
.color-bar-heading {
  display: inline-block;
}

.heading-color-bar {
  display: block;
  min-width: 100%;
  height: $color-bar-height;
  margin-bottom: 1rem;
}



/**
 * Checkboxes
 */
.checkbox {
  -moz-appearance:none;
  -webkit-appearance:none;
  -o-appearance:none;
  display: inline-block;
  height: 1.25rem;
  width: 1.25rem;
  border: $standard-border-width solid $checkbox-border-color;
  vertical-align: middle;

  &:checked {
    background-color: $checkbox-border-color;
  }

  &:checked::before {
    color: #fff;
    font-family: "SDG NRI Icons";
    font-size: 1rem;
    content: "\e910";
  }
}



/**
 * Buttons
 */
.button {
  $button-background-color: $color-dodger-blue;

  display: inline-block;
  border: none;
  padding: 0.5rem 1.5rem;
  text-align: center;
  color: $text-color-dark;
  font-family: Oswald;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: .05rem;
  text-transform: uppercase;
  background-color: $button-background-color;

  &:hover {
    background-color: lighten($button-background-color, 10%);
  }
}

.banner-submit-resource-button {
  position: absolute;
  bottom: 0;
  left: 0;
}

.contact-us-button,
.submit-resource-button,
.banner-submit-resource-button {
  $button-background-color: $color-saffron;

  background-color: $button-background-color;
  color: $text-color-dark;

  &:hover {
    background-color: lighten($button-background-color, 10%);
    text-decoration: none;
  }

  @extends %margin-centered;
}



/**
 * Dropdown
 */
.dropdown {
  &:hover,
  &:focus {
    .dropdown-content {
      visibility: visible;
    }
  }
}

.dropdown-content {
  position: absolute;
  visibility: hidden;
  z-index: 10;

  a {
    display: block;
    text-decoration: none;
  }

  &:hover {
    visibility: visible;
  }
}



/**
 * Hero Banner
 */
.banner {
  box-sizing: border-box;
  height: 26rem;
  background-color: rgba(220, 220, 220, 1);
  font-family: Lato;
  text-align: center;
}

.banner-heading {
  color: rgb(255, 255, 255);
  font-size: 5rem;
  text-shadow: 3px 3px 0 rgba(2,11,79,0.5);
}

.main-banner {
  padding: 8rem;
  min-height: 42rem;
  background-image: url('/assets/img/banner_background.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  font-weight: 400;
}

.directory-banner,
.topics-banner {
  position: relative;

  .banner-heading {
    margin-bottom: 0.2rem;
  }
}

.contact-banner,
.directory-banner,
.news-banner,
.topics-banner {
  .banner-content {
    position: relative;
    top: 50%;
    transform: translateY(-60%);
  }
}

.banner-heading {
  white-space: nowrap;
}

.banner-text {
  font-size: 3rem;
  letter-spacing: 0.02em;
  line-height: 1.4em;
  color: #fdfdfd;
  text-shadow: 0.2rem 0.2rem 0 rgba(2, 11, 79, 0.5);
}

.banner-search {
  margin-top: 3rem;

  input[type=search] {
    background-color: rgba(255, 255, 255, 0.6);
    font-family: Lato;
    font-weight: 300;
  }
}

/**
 * Main Page Section: Intro
 */
.intro-section {
  box-sizing: border-box;
  padding: 5rem 10rem;
  text-align: center;
  font-family: Lato;
}

.intro-text {
  margin-bottom: 1.8rem;
  font-size: 1.8rem;
  color: #020b4f;

  a {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgba(2,11,79,.3);
    text-decoration: none;
  }
}

.feature-list {
  box-sizing: border-box;
  margin-bottom: 1.2rem;
  padding: 0;
  text-align: left;
  list-style: none;
}

.feature {
  display: flex;
  width: 100%;
  align-items: center;

  &:not(:last-child) {
    margin-bottom: 2.5rem;
  }

  a {
    color: rgba(0, 0, 0, 1);
  }

  a:hover {
    color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
  }

  @extend %clearfix;
}

.feature-description-header {
  margin-bottom: 0.5rem;
  color: $text-color-dark;
  font-family: Oswald;
  font-size: 2em;
  font-weight: 500;
  text-transform: uppercase;
}

.feature-image {
  width: 11rem;
  margin-left: 3rem;
}


/**
 * Main Page Section: Who We Serve
 */
.who-we-serve-section {
  a {
    color: $color-french-pass;

    &:hover {
      color: darken($color-french-pass, 10%);
    }
  }
}

.who-we-serve-section,
.submit-resource-section {
  padding: $site-padding;
  background-color: rgba(22, 45, 122, 1);
  background-image: url('/assets/img/blue-texture-background@2x.png');
  text-align: center;
  color: rgb(255, 255, 255);
}

.submit-resource-heading {
  margin-bottom: 1rem;
}

.who-we-serve-section-content {
  font-size: 1.75rem;

  a:hover {
    text-decoration: underline;
  }
}

.who-we-serve-section-subtext {
  font-size: 1.25rem;
  font-weight: 300;
}

.who-we-serve-list {
  margin: 0 4rem;
  text-align: left;
  font-weight: 300;
}

.who-we-serve-item {
  margin-bottom: 3rem;
}

.who-we-serve-item-heading {
  font-family: Oswald;
  font-size: 1.5rem;
  letter-spacing: 0.0625rem;
}

.who-we-serve-item-link {
  color: rgba(183, 234, 255, 1);

  .icon-blue-arrow {
    margin-left: 0.2rem;

    &::before {
      color: rgba(183, 234, 255, 1);
    }
  }
}



/**
 * Section: Submit Resource
 */
.submit-resource-content {
  font-weight: $light-font-weight;
}



/**
 * Shared Styles
 */
.who-we-serve-section-heading,
.submit-resource-heading {
  margin-bottom: 1rem;
  color: $text-color-light;
  font-family: Oswald;
  font-size: 2.25rem;
  font-weight: $light-font-weight;
}

.who-we-serve-section-content,
.submit-resource-content,
.who-we-serve-section-subtext {
  margin-bottom: 2rem;
}

.who-we-serve-item-heading,
.who-we-serve-item-description,
.who-we-serve-item-link {
  margin-bottom: 0.5rem;
}