header[role="banner"] {
  box-sizing: border-box;
  background-image: url('/assets/img/banner_background.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center -10em;
  font-family: Lato;
  font-style: normal;
  color: #fdfdfd;
  text-align: center;
}

.under-construction-warning {
  color: #fff;
  text-align: center;
  background-color: rgba(255,255,255,0.25);
}

.banner-content {
  padding: 8.375em 5em 20em;
}

.banner-stripe {
  width: 35em;
}

.banner-header {
  margin-bottom: 1.3em;
  font-family: Oswald;
  font-weight: 500;
  font-size: 2.8em;
  text-shadow: 0.03em 0.03em #000000;
}

.banner-text {
  font-size: 2.625em;
  letter-spacing: 0.03em;
  line-height: 1.4em;
  color: #fdfdfd;
  text-shadow: 0.05em 0.05em #000000;
}

.intro {
  box-sizing: border-box;
  padding: 5em 10em;
  text-align: center;
  font-family: Lato;
}

.intro-text {
  margin-bottom: 3em;
  font-size: 1.5em;
  letter-spacing: 0.02em;
  color: #020b4f;

  a {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgba(2,11,79,.3);
    text-decoration: none;
  }
}

.feature-list {
  $single-grid: (
    columns: 12,
    gutter: 0,
    media: 320px,
  );

  $full-grid: (
    columns: 12,
    gutter: 0,
    media: 1080px,
  );

  box-sizing: border-box;
  margin-bottom: 1.2em;
  padding: 0;
  overflow: hidden;
  text-align: center;
  list-style: none;

  .feature {
    @include grid-media($single-grid) {
      @include grid-column(12);
    }

    @include grid-media($full-grid) {
      @include grid-column(4);
    }
  }

  .feature-icon {
    width: 100%;
    max-width: 31.250em;
    margin-bottom: 1.5em;
    object-fit: cover;
  }

  .feature-description {
    padding: 1.2em;

    .feature-description-header {
      font-family: Oswald;
      font-size: 1.5em;
      text-transform: uppercase;
    }

    p {
      font-size: 1.125em;
    }
  }
}
