/****************************
 HIGH PPI DISPLAY BACKGROUNDS
*****************************/

@mixin background-2x($path, $ext: "png", $w: auto, $h: auto, $pos: left top, $repeat: no-repeat) {

  $at1x_path: "#{$path}.#{$ext}";
  $at2x_path: "#{$path}@2x.#{$ext}";
 
  background-image: url("#{$at1x_path}");
  background-size: $w $h;
  background-position: $pos;
  background-repeat: $repeat;
 
  @media all and (-webkit-min-device-pixel-ratio : 1.5),
  all and (-o-min-device-pixel-ratio: 3/2),
  all and (min--moz-device-pixel-ratio: 1.5),
  all and (min-device-pixel-ratio: 1.5) {
    background-image: url("#{$at2x_path}"); 
  }
}

%section-content {
  margin: 0 auto;
  max-width: $content-width;
}



/**
 * Variables
 */
$checkbox-border-color: $color-dodger-blue;



/**
 * Byline Information Divider
 */
.info-divider {
  margin: 0 0.5rem;
  color: $color-silver;
}



/**
 * Striped Color Bar
 */
.color-bar-heading {
  display: inline-block;
}

.heading-color-bar {
  display: block;
  min-width: 100%;
  height: $color-bar-height;
  margin-bottom: 0.5rem;

  @include for-tablet-portrait-up {
    margin-bottom: 1rem;
  }
}



/**
 * Wave Graphic
 */
%wavey {
  bottom: 100%;
  left: 0;
  margin-bottom: -1px;
  position: absolute;
  width: 100%;
}

.white-wave {
  @extend %wavey;

  height: 42px;
}

.blue-wave {
  @extend %wavey;

  height: 32px;
}



/**
 * Checkboxes
 */
.checkbox {
  -moz-appearance: none;
  -webkit-appearance: none;
  -o-appearance: none;
  display: inline-block;
  height: 1.25rem;
  width: 1.25rem;
  margin: 0 0.3rem 0 -1.8rem;
  border: $standard-border-width solid $checkbox-border-color;
  vertical-align: middle;

  &:checked {
    background-color: $checkbox-border-color;
  }

  &:checked::before {
    color: #fff;
    font-family: "SDG NRI Icons";
    font-size: 1rem;
    content: "\e910";
  }
}

.checkbox-label {
  display: block;
  margin-left: 2rem;
  cursor: pointer;

  span {
    vertical-align: middle;
  }
}



/**
 * Buttons
 */
%button {
  display: inline-block;
  z-index: 10;
  border: none;
  padding: 0.5rem 1rem;
  text-align: center;
  color: $text-color-dark;
  font-family: Oswald;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: .03rem;
  text-transform: uppercase;
  cursor: pointer;
}

.button {
  @extend %button;

  $button-background-color: lighten($color-dodger-blue, 5%);

  background-color: $button-background-color;

  &:hover {
    background-color: lighten($button-background-color, 10%);
  }
}

.cta-button {
  @extend button;

  $button-background-color: $color-saffron;

  background-color: $button-background-color;
  color: $text-color-dark;
  margin: 0 auto;

  &:hover {
    background-color: $color-anzac;
    text-decoration: none;
  }
}

.submit-resource-button {
  @extend .cta-button;

  box-shadow: 0.15rem 0.15rem 0 0 #020B4F;
}

.hero-cta-button {
  @extend .cta-button;

  bottom: 0;
  left: 0;
  position: absolute;
}



/**
 * Dropdown
 */
.dropdown {
  &:hover,
  &:focus {
    .dropdown-content {
      visibility: visible;
    }
  }
}

.dropdown-content {
  position: absolute;
  visibility: hidden;
  z-index: 1000;

  a {
    display: block;
    text-decoration: none;
  }

  &:hover {
    visibility: visible;
  }
}



/**
 * Hero Banner
 */
%hero-background {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-section {
  background-color: $color-silver;
  box-sizing: border-box;
  height: 26rem;
  position: relative;
  text-align: center;
}

.hero-header {
  color: $text-color-light;
  font-size: 2.5rem;
  text-shadow: 0.04em 0.04em 0 rgba(2, 11, 79, 0.5);
  white-space: nowrap;

  @include for-tablet-portrait-up {
    font-size: 3rem;
  }

  @include for-tablet-landscape-up {
    font-size: 5rem;
  }
}

.hero-body {
  @extend %section-content;

  position: relative;
  top: 50%;
  transform: translateY(-60%);
}

.main-banner {
  @extend %hero-background;

  background-image: url('/assets/img/banner_background.jpg');
  color: $text-color-light;
  font-size: 1.75rem;
  font-weight: 400;
  letter-spacing: 0.02em;
  line-height: 1.4em;
  padding: 1rem;
  position: relative;
  text-align: center;
  text-shadow: 0.08em 0.08em 0 rgba(2, 11, 79, 0.5);

  @include for-tablet-portrait-up {
    height: 42rem;
    padding: $tablet-padding;
    font-size: 2.25rem;
  }

  @include for-tablet-landscape-up {
    font-size: 3rem;
    padding: $site-padding;
  }
}

.main-banner-body {
  @extend %section-content;
}

.resources-hero {
  @extend %hero-background;

  background-image: url('/assets/img/search-resources.jpg');
}

.explore-topics-hero {
  @extend %hero-background;

  background-image: url('/assets/img/explore-topics.jpg');
}

.news-and-events-hero {
  @extend %hero-background;

  background-image: url('/assets/img/news-and-events.jpg');

}

.contact-us-hero {
  @extend %hero-background;

  background-image: url('/assets/img/contact-us.jpg');
}

.banner-search {
  margin-top: 3rem;

  input[type=search] {
    background-color: rgba(255, 255, 255, 0.6);
    font-family: Lato;
    font-weight: 300;
  }
}



/**
 * Main Page Section: Intro
 */
.intro-section {
  position: relative;
  box-sizing: border-box;
  padding: $mobile-padding;

  @include for-tablet-portrait-up {
    padding: $tablet-padding;
    text-align: center;
  }

  @include for-tablet-landscape-up {
    padding: $site-padding;
  }
}

.intro-section-content {
  @extend %section-content;
}

.intro-text {
  color: $text-color-dark;
  font-size: 1.3rem;
  margin-bottom: 1.8rem;

  @include for-tablet-portrait-up {
    font-size: 1.65rem;
    margin-bottom: 3rem;
  }
}

%feature-header {
  color: $text-color-dark;
  font-family: Oswald;
  font-weight: 500;
  text-transform: uppercase;
}

.feature-list {
  margin: 0 auto 1.2rem;
  max-width: $on-laptop;
  text-align: left;
}

.feature-list-header {
  @extend %feature-header;

  font-size: 1.8rem;
  margin-bottom: 1.8rem;

  @include for-tablet-portrait-up {
    font-size: 2.25rem;
    margin-bottom: 3rem;
  }
}

.feature {
  display: flex;
  flex-shrink: 0;

  &:not(:last-child) {
    margin-bottom: 2.5rem;
  }

  a {
    text-decoration: underline;

    &:hover {
      color: $color-dodger-blue;
    }
  }
}

.feature-copy {
  flex: auto;
}

.feature-description-header {
  @extend %feature-header;

  font-size: 1.5rem;
  margin-bottom: 0.5rem;

  @include for-tablet-landscape-up {
    font-size: 1.7rem;
  }
}

.feature-image {
  display: none;

  @include for-tablet-portrait-up {
    display: inline-block;
    flex-shrink: 0;
    flex-grow: 0;
    flex-basis: fit-content;
    margin-left: 3rem;
    width: 10rem;
    height: 10rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.feature-opportunity-copy {
  @extend .feature-copy;
}

.feature-opportunity-image {
  @extend .feature-image;

  @include for-tablet-portrait-up {
    background-image: url('/assets/img/an-unprecedented-opportunity-icon@2x.png');
  }
}

.feature-challenges-image {
  @extend .feature-image;

  @include for-tablet-portrait-up {
    background-image: url('/assets/img/reporting-challenges-icon@2x.png');
  }
}

.feature-here-to-help-image {
  @extend .feature-image;

  @include for-tablet-portrait-up {
    background-image: url('/assets/img/were-here-to-help-icon@2x.png');
  }
}



/**
 * Main Page Section: Who We Serve
 */
.who-we-serve-section {
  position: relative;

  a {
    color: $color-french-pass;

    &:hover {
      color: darken($color-french-pass, 10%);
    }
  }
}

.who-we-serve-section-content {
  @extend %section-content;
}

.who-we-serve-section,
.submit-resource-section {
  @include background-2x('/assets/img/blue-texture-background', 'png', 100px, 100px, center center, repeat);

  padding: $mobile-padding;
  background-color: rgba(22, 45, 122, 1);
  text-align: center;
  color: rgb(255, 255, 255);

  @include for-tablet-portrait-up {
    padding: $tablet-padding;
  }

  @include for-tablet-landscape-up {
    padding: $site-padding;
  }
}

.submit-resource-heading {
  margin-bottom: 1rem;
}

.who-we-serve-section-text {
  font-size: 1.65rem;

  a {
    text-decoration: underline;
  }
}

.who-we-serve-section-subtext {
  font-size: 1.25rem;
}

.who-we-serve-list {
  margin: 0 auto;
  max-width: $on-laptop;
  text-align: left;
}

.who-we-serve-item {
  margin-bottom: 3rem;
}

.who-we-serve-item-heading {
  font-family: Oswald;
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 0.0625rem;
}

.who-we-serve-item-link {
  color: $color-french-pass;

  .icon-blue-arrow {
    margin-left: 0.2rem;

    &:before {
      color: $color-french-pass;
    }
  }
}



/**
 * Section: Submit Resource
 */
.submit-resource-section {
  position: relative;
}

.submit-resource-section-content {
  @extend %section-content;
}

.submit-resource-text {
  font-weight: $light-font-weight;
}



/**
 * Shared Styles
 */
.who-we-serve-section-heading,
.submit-resource-heading {
  margin-bottom: 1rem;
  color: $text-color-light;
  font-family: Oswald;
  font-size: 2.25rem;
  font-weight: $light-font-weight;
}

.who-we-serve-section-text,
.submit-resource-text,
.who-we-serve-section-subtext {
  margin-bottom: 2rem;
}

.who-we-serve-item-heading,
.who-we-serve-item-description,
.who-we-serve-item-link {
  margin-bottom: 0.5rem;
}