.tabs {
  padding: 0 10em 2em;
  background-image: url('/assets/img/happy_children.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
}

.tab {
  display: block;
  margin: 0.5em 0;

  input {
    position: absolute;
    left: -9999px;
    opacity: 0;
  }

  label {
    position: relative;
    box-sizing: border-box;
    display: inline-block;
    width: 100%;
    margin: 0;
    padding: 2em;
    background-color: rgba(160, 160, 160, 0.5);
    font: inherit;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
  }

  .content {
    display: none;
    box-sizing: border-box;
    color: #fff;
  }

  input:focus ~ label,
  input:hover ~ label {
   background-color: lighten(rgba(160, 160, 160, 0.5), 10%);
  }

  [id^="tab"]:checked label {
    background: #303030;
    color: #F5F5F5;
  }

  [id^="tab"]:checked ~ [id^="tab-content"] {
    display: block;
  }
}

.news-header,
.event-header {
  margin-bottom: 1em;
}

.news,
.event {
  box-sizing: border-box;
  margin-bottom: 1px;
  padding: 2em;
  background-color: rgba(212, 212, 212, 0.6);
}

.news:last-child,
.event:last-child {
  margin: 0;
  border: none;
}

.event-locations {
  display: inline;
}

.event-location {
  display: inline;
  padding: 0.2em 0.4em;
  background-color: rgba(212, 212, 212, 0.6);
}
