.news-wrapper 

.news-wrapper-2 {
  padding: 4em 12em;
}

.tab-menu-wrapper {
  display: inline-block;
  width: 65%;
}



.categories,
.categories-2 {
  display: inline-block;
}

.categories {
  width: 100%;
}

.categories-2 {
  width: 65%;
}

.category {
  .content {
    display: none;
    box-sizing: border-box;
  }

  input:focus + label,
  input:hover + label {
   background-color: lighten(rgba(160, 160, 160, 0.5), 10%);
  }

  [id^="tab"]:checked ~ label {
    background-color: #34A8FC;
  }

  [id^="tab"]:checked ~ label:focus,
  [id^="tab"]:checked ~ label:hover {
    background-color: lighten(#34A8FC, 10%);
  }

  [id^="tab-content"]:checked ~ [id^="tab-content"],
  [id^="tab-content"]:target {
    display: block;
  }
}

.category:not(:last-child) {
  margin-bottom: 1em;
}

.category-title {
  position: relative;
  box-sizing: border-box;
  display: inline-block;
  width: 100%;
  margin: 0;
  padding: 2em;
  background-color: rgba(160, 160, 160, 0.5);
  font: inherit;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
}

.tab-input {
  position: absolute;
  opacity: 0;
}

.tab-input:checked + .tab-label {
  border-width: 3px 3px 0 3px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 1);
  background-color: rgba(255, 255, 255, 1);
}

.tab-input:checked + .tab-label + .tab-content {
  display: block;
}

.tab-label {
  box-sizing: border-box;
  margin: 0 2em 0 0;
  padding: 0.5em 1em;
  background-color: rgba(220, 220, 220, 1);
  font: inherit;
  font-family: Oswald;
  text-align: center;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 1);
  cursor: pointer;
  transition: background 0.1s, color 0.1s;

  .fa {
    vertical-align: 15%;
  }

  h2 {
    display: inline-block;
  }
}

.dropdown,
.news-filter {
  position: relative;
  display: inline-block;
}

.news-filter {
  height: 100%;
  border-left: 1px solid #000000;
}

.dropdown-button,
.news-filter-button {
  display: inline-block;
  padding: 0 1.5rem;
}

.news-filter-button {
  height: 100%;
  font-weight: 700;
}

.dropdown:hover,
.dropdown:focus {
  .dropdown-content {
    visibility: visible;
  }
}

.dropdown-button {
  &:after {
    margin-left: 0.3rem;
    font-family: "FontAwesome";
    content: "\f106";
  }
}

.dropdown-button:hover,
.dropdown-button:focus {
  &:after {
    content: "\f107";
  }
}

.dropdown-content {
  position: absolute;
  background-color: rgba(255, 255, 255, 1);
  visibility: hidden;
  z-index: 1;

  a {
    display: block;
    text-decoration: none;
  }

  &:hover {
    visibility: visible;
  }
}

.news-filter-options {
  border: 1px solid rgba(0, 0, 0, 1);
  right: 0;
  min-width: 12rem;
  padding: 1rem;
}

.news-filter-option {
  label {
    padding: 1rem;
  }
}

.news,
.event {
  box-sizing: border-box;
  border-bottom: 1px solid;
  padding: 2.25rem 0;
  background-color: rgba(255, 255, 255, 0.6);
}

.news:last-child,
.event:last-child {
  margin: 0;
  border: none;
}

.news-feed {
  margin-bottom: 2rem;
}

.news-list-item {
  outline: none;
}

.news-input {
  position: absolute;
  left: -9999px;
  opacity: 0;
}

.news-header {
  font-size: 1.5rem;
}

.news-filters {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  border-bottom: 1px solid #000000;
}

.news-filters-heading {
  display: inline-block;
  padding-bottom: 1rem;
  font-family: Oswald;
  font-size: 1.2rem;
}

.news-filters-controls {
  display: inline-block;
}

.news-count {
  padding-top: 1rem;
}

.news-card {
  padding: 2rem 0;
  border-bottom: 1px solid #000;
}

.news-date,
.news-header,
.news-author,
.event-dates,
.event-header,
.event-description,
.event-end {
  margin-bottom: 1rem;
}

.news-author,
.event-start,
.event-end {
  font-style:italic;
}

.events-heading {
  font-family: Oswald;
  font-size: 2.5rem;
  line-height: 1em;
}

.event-locations {
  display: inline;
}

.event-location {
  display: inline-block;
  margin: 0 0 0 0.3rem;
  font-style: italic;

  &:first-child {
    margin: 0;
  }
}

.twitter-timeline-container,
.twitter-timeline-container-tab {
  display: inline-block;

  .content {
    min-height: 37.5em;
    background-color: rgba(255, 255, 255, 0.6);
  }
}

.twitter-timeline-container {
  width: 30%;
  margin-left: 4%;
  vertical-align: top;
}

.twitter-timeline-container-tab {
  width: 100%;
}

.twitter-timeline {
  display: block !important;
  width: 100%;
  margin: 0 auto;
}
