.news-wrapper,
.news-wrapper-2 {
  background-image: url('/assets/img/happy_children.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
}

.news-wrapper {
  padding: 8.375em 10em 2em;
}

.news-wrapper-2 {
  padding: 8.375em 5em 2em;
}

.tab-menu-wrapper {
  display: inline-block;
  width: 65%;
}

.tabs,
.tabs-2 {
  display: flex;
  background: #efefef;
  flex-wrap: wrap;
  box-shadow: 0 48px 80px -32px rgba(0,0,0,0.3);
}

.categories,
.categories-2 {
  display: inline-block;
}

.categories {
  width: 100%;
}

.categories-2 {
  width: 65%;
}

.category {
  .content {
    display: none;
    box-sizing: border-box;
  }

  input:focus + label,
  input:hover + label {
   background-color: lighten(rgba(160, 160, 160, 0.5), 10%);
  }

  [id^="tab"]:checked ~ label {
    background-color: #34A8FC;
  }

  [id^="tab"]:checked ~ label:focus,
  [id^="tab"]:checked ~ label:hover {
    background-color: lighten(#34A8FC, 10%);
  }

  [id^="tab"]:checked ~ [id^="tab-content"] {
    display: block;
  }
}

.category:not(:last-child) {
  margin-bottom: 1em;
}

.category-title {
  position: relative;
  box-sizing: border-box;
  display: inline-block;
  width: 100%;
  margin: 0;
  padding: 2em;
  background-color: rgba(160, 160, 160, 0.5);
  font: inherit;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
}

.tab-input {
  position: absolute;
  opacity: 0;
}

.tab-input:focus + .tab-label,
.tab-input:hover + .tab-label {
  background-color: lighten(rgba(160, 160, 160, 0.5), 10%);
}

.tab-input:checked + .tab-label:focus,
.tab-input:checked + .tab-label:hover {
  background-color: lighten(#34A8FC, 10%);
}

.tab-input:checked + .tab-label {
  background-color: #34A8FC;
}

.tab-input:checked + .tab-label + .tab-content {
  display: block;
}

.tab-label {
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 2em;
  background-color: rgba(160, 160, 160, 0.5);
  font: inherit;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
  transition: background 0.1s, color 0.1s;
}

.tabs .tab-label {
  @include med-screen {
    width: 33.33%;
  }
}

.tabs-2 .tab-label {
  @include med-screen {
    width: 50%;
  }
}

.tab-content {
  display: none;
  box-sizing: border-box;
  width: 100%;
}

@include med-screen {
  .tab-content {
    order: 99;
  }
}

.news,
.event {
  box-sizing: border-box;
  margin-bottom: 1px;
  padding: 2em;
  background-color: rgba(255, 255, 255, 0.6);
}

.news:last-child,
.event:last-child {
  margin: 0;
  border: none;
}

.news-input {
  position: absolute;
  left: -9999px;
  opacity: 0;
}

.news-header,
.event-header,
.news-date,
.event-date,
.event-end {
  margin-bottom: 1rem;
}

.event-locations {
  display: inline;
}

.event-location {
  display: inline;
  padding: 0.2em 0.4em;
  background-color: rgba(212, 212, 212, 0.6);
}

.twitter-timeline-container,
.twitter-timeline-container-tab {
  display: inline-block;

  .content {
    min-height: 37.5em;
    background-color: rgba(255, 255, 255, 0.6);
  }
}

.twitter-timeline-container {
  width: 30%;
  margin-left: 4%;
  vertical-align: top;
}

.twitter-timeline-container-tab {
  width: 100%;
}

.twitter-timeline {
  display: block !important;
  width: 100%;
  margin: 0 auto;
}
