.pagination {
  $base-border-radius: 3px !default;
  $base-spacing: 1.5em !default;
  $action-color: #477DCA !default;
  $large-screen: 53.75em !default;
  $base-font-color: $text-color-dark !default;
  $pagination-border-color: $color-pattens-blue;
  $pagination-border: 1px solid $pagination-border-color;
  $pagination-background: rgba(220, 220, 220, 1);
  $pagination-hover-background: lighten($pagination-background, 5);
  $pagination-color: $base-font-color;

  ul {
    display: block;
    margin: 0;
    padding: 0;
    text-align: center;

    li {
      display: inline-block;

      &:nth-last-child(n+2) {
        margin-right: 0.75rem;
      }
    }

    li a {
      display: inline-block;
      border: $pagination-border;
      padding: 0.9rem 1rem;
      line-height: 0.8em;
      color: $pagination-color;
      outline: none;
      font-weight: 700;
      text-decoration: none;
      transition: all 0.2s ease-in-out;

      &:visited {
        color: $pagination-color;
      }

      &:hover,
      &:focus {
        background-color: $pagination-hover-background;
        color: $pagination-color;
      }

      &.active {
        background-color: $pagination-background;
      }
    }
  }
}