.pagination {
  $pagination-border-color: $color-dodger-blue;
  $pagination-border: 1px solid $pagination-border-color;
  $pagination-background: $color-dodger-blue;
  $pagination-hover-background: $color-cerulean;
  $pagination-color: $text-color-dark;

  button {
    border: $pagination-border;
    padding: 0.7rem 0.9rem;
    color: $pagination-color;
    font-size: 1rem;
    font-weight: 700;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    &:hover,
    &:focus {
      border-color: $pagination-hover-background;
      background-color: $pagination-hover-background;
    }

    &.active {
      background-color: $pagination-background;
    }
  }

  .prev-page-button,
  .next-page-button {
    background-color: $color-dodger-blue;
  }

  ul {
    display: flex;
    margin: 0;
    padding: 0;

    li {
      display: inline-block;

      &:nth-last-child(n+2) {
        margin-right: 0.75rem;
      }
    }

    li a {
      display: inline-block;

      &:visited {
        color: $pagination-color;
      }
    }
  }
}