$base-border-color: gainsboro !default;
$base-border-radius: 3px !default;
$base-line-height: 1.5em !default;
$base-spacing: 1.5em !default;
$action-color: #477DCA !default;

$dark-gray: #333 !default;
$large-screen: 53.75em !default;
$base-font-color: $dark-gray !default;
$clear-button-width: 4em;
$search-tools-border-color: $base-border-color;
$search-tools-background: lighten($search-tools-border-color, 10%);
$gutter: 1.2em;

.news-search {
  padding: 1em;
  background-color: rgba(160, 160, 160, 0.5);
}

.search-bar {
  max-width: 50em;
  margin: 0 auto;
}

.search-bar-controls,
.news-search-bar {
  @include med-screen {
    display: flex;
  }

  text-align: center;
}

.search-field {
  width: 100%;
  border-top: 1px solid #34a8fc;
  border-right: none;
  border-left: 1px solid #34a8fc;
  border-bottom: 1px solid #34a8fc;
  padding: 0.75em;
  background-color: rgba(255, 255, 255, 0.75);
  font: inherit;
  font-size: 1.2em;
}

.search-field::placeholder {
  color: black;
}

.search-submit {
  display: flex;
  border: none;
  border-radius: 0;
  padding: 1.1em 1.2em;
  background-color: rgba(52, 168, 252, 1);
  font-family: Oswald;
  font-size: 1em;
  color: #fff;
}

.filters {
  @include large-screen {
    flex-direction: row;
  }

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.filter-sidebar,
.topic-sidebar {
  @include grid-column(1, $col-4);
}

.filters {
  margin-bottom: 2em;
}

.filters-heading {
  padding-bottom: 0.75em;
  border-bottom: 1px solid;
  font-family: Oswald;
}

.filter-handle {
  box-sizing: border-box;
  border-bottom: 1px solid;
  padding: 1em 0;
  transition: border-color;
  cursor: pointer;

  &.active {
    border-bottom: none;
  }

  /*&.active,
  &:focus,
  &:hover {
    background-color: rgba(200, 200, 200, 0.7);
    border-color: darken($base-border-color, 10%);
  }*/
}

.filter-label {
  display: inline;
}

.filter-list {
  margin: 0;
  background-color: rgba(255, 255, 255, 0.75);
}

.filter-option {
  padding: 0.1em 0;
}

/*.filter-option-checkbox {
  width: 1.2rem;
  height: 1.2rem;
  margin: 0 0.25em 0 0;
  border: 0.1rem solid #000;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}*/

.filter-option-checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}

.filter-option-checkbox + label:before {
  display: inline-block;
  font-family: FontAwesome;
  letter-spacing: 0.45rem;
  content: "\f096";
}

.filter-option-checkbox:checked + label:before {
  letter-spacing: 0.3rem;
  content: "\f046";
}

.hide-options {
  margin-bottom: 0;

  .filter-list,
  .filter-clear {
    display: none;
  }
}

.filter {
  @include large-screen {
    margin-bottom: 0;

    &:first-child {
      margin: 0 0.2em 0 0;
    }

    &:last-child {
      margin: 0 0 0 0.2em;
    }
  }
}

.filter-update,
.filter-clearall {
  width: 100%;
  padding: 0.75em;
  font: inherit;
  font-family: Oswald;
  text-align: center;
}

.filter-update {
  margin-top: 2rem;
  border: 1px solid rgba(52, 168, 252, 1);
  background-color: rgba(52, 168, 252, 1);
  color: #fff;
}

.filter-clearall {
  margin-top: 1rem;
  border: 1px solid rgba(220, 220, 220, 1);
  color: #000;
}

.item {
  margin-left: 1em;
}
