$base-border-color: gainsboro !default;
$base-border-radius: 3px !default;
$base-line-height: 1.5em !default;
$base-spacing: 1.5em !default;
$action-color: #477DCA !default;

$dark-gray: #333 !default;
$large-screen: 53.75em !default;
$base-font-color: $dark-gray !default;
$clear-button-width: 4em;
$search-tools-border-color: $base-border-color;
$search-tools-background: lighten($search-tools-border-color, 10%);
$gutter: 1.2em;

.news-search {
  padding: 1em;
  background-color: rgba(160, 160, 160, 0.5);
}

.search-bar,
.news-search-bar {
  @include med-screen {
    display: flex;
  }

  display: flex 0 0 100%;
  text-align: center;

  input[type=search] {
    width: 100%;
    border: none;
    padding: 0.75em;
    background-color: rgba(255, 255, 255, 0.75);
    font: inherit;
  }

  input[type=search]::placeholder {
    color: black;
  }

  input[type=submit] {
    @include med-screen {
      display: inline-block;
      width: 23.5%;
    }

    display: block;
    width: 100%;
    border: none;
    border-radius: 0;
    padding: 0.5em;
    background-color: rgba(52, 168, 252, 1);
    color: #fff;
    font: inherit;
  }
}

.search-bar {
  margin-bottom: 2em;

  input[type=search] {
    @include med-screen {
      width: 76%;
    }

    margin-right: 0.4em;
  }
}

.search-tools {
  @include clearfix;

  @include med-screen {
    margin: 0 5em;
  }

  @include large-screen {
    margin: 0 10em;
  }

  margin: 0 2em;

  li {
    list-style: none;
  }
}

.filters,
.news-filters {
  @include large-screen {
    flex-direction: row;
  }

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.filters {
  margin-bottom: 2em;
}

.filter {
  @include large-screen {
    margin-bottom: 0;

    &:first-child {
      margin: 0 0.2em 0 0;
    }

    &:last-child {
      margin: 0 0 0 0.2em;
    }
  }

  position: relative;
  flex-grow: 1;
  margin: 0 0.2em;

  > div {
    box-sizing: border-box;
    border: none;
    border-radius: 0;
    padding: 0.75em;
    background-color: rgba(255, 255, 255, 0.75);
    transition: border-color;

    &:focus,
    &:hover {
      border-color: darken($base-border-color, 10%);
    }

    label {
      cursor: pointer;
      margin-bottom: 0;
    }
  }

  .filter-list {
    margin: 1em 0 0;
    padding: 0;

    label {
      display: inline;
    }
  }

  .clear {
    float: right;
    border: none;
    padding: 0 0.6em;
    background-color: rgba(52, 168, 252, 1);
    font: inherit;
    color: #fff;
  }

  .hide-options {
    margin-bottom: 0;

    ol, button {
      display: none;
    }
  }
}

.filter-update {
  flex-grow: 1;
  margin: 0 0 0 0.2em;

  button {
    width: 100%;
    border: none;
    border-radius: 0;
    padding: 0.75em;
    background-color: rgba(52, 168, 252, 1);
    color: #fff;
    font: inherit;
    text-align: center;
  }
}
