.topic-directory {
  display: block;
  margin: 0 auto;
  padding: 5em 8em 5em;
  background: rgba(233, 248, 255, 1) url('/assets/img/happy_children.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
}

.topic-directory-header {
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 2em;
  font-family: Oswald;
  font-size: 1.5em;
  text-align: center;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 1);
  transition: background 0.1s, color 0.1s;
}

.topic-directory-heading-stripe {
  width: 27.4rem;
  height: 0.25rem;
  margin-bottom: 0.5rem;
}

.topic-list {
  column-count: 2;
  color: $ui-dark-blue;

  a {
    color: $ui-dark-blue;
    text-decoration: none;
  }
}

/**
 * Topic Page
 */
.topic-wrapper {
  box-sizing: border-box;
  padding: 4rem 8rem 4rem;

  @include grid-collapse;
  @extend %clearfix;
}

.topic {
  margin-bottom: 1.6rem;
}

.topic-heading {
  margin-bottom: 1.5rem;
  color: $ui-dark-blue;
  font-size: 3.375rem;
  font-weight: 700;
}

.topic-section-heading {
  color: $ui-dark-blue;
  font-family: Oswald;
  font-size: 2.5rem;
}

.topic-content {
  border-top: 0.25rem solid $ui-blue;

  @include grid-column(2, $col-3);
}

.next-section-link {
  font-size: 1.5rem;
  color: $ui-dark-blue;

  &:visited {
    color: $ui-dark-blue;  
  }
}

/**
 * Topic Sidebar
 */
.topic-nav-sidebar {
  border-right: 1px solid $ui-light-gray;
  padding-right: 1rem;
  color: $ui-dark-blue;

  @include grid-column(1, $col-3);

  a {
    color: $ui-dark-blue;
    cursor: pointer;
  }
}

.nav-topic {
  margin-bottom: 2rem;
}

.nav-topic-heading,
.nav-subtopic-heading {
  font-weight: 200;
}

.nav-topic-heading {
  padding: 0.3rem 0;
  font-size: 1.5rem;
  font-weight: 700;
}

.nav-subtopic {
  padding: 0.5rem 0 0.5rem 1rem;
}

.nav-subtopic-heading {
  font-size: 1rem;
  font-weight: 400;
}

.active-nav-topic {
  margin: 0 -1rem;
  border-right-width: 0.25rem;
  border-right-style: solid;
  border-right-color: $ui-blue;
  padding: 0.3rem 0 0.3rem 1rem;
  background-color: $ui-light-blue;
}