.topic-directory {
  display: block;
  margin: 0 auto;
  padding: $site-padding;
  background: rgba(233, 248, 255, 1) url('/assets/img/happy_children.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  text-align: center;

  .submit-resource-button {
    box-shadow: 0.15rem 0.15rem 0 0 #020B4F;
  }
}

.topic-directory-header {
  margin-bottom: 2em;
  font-family: Oswald;
  font-size: 1.5em;
  text-align: center;
  text-transform: uppercase;

  @extend .color-bar-heading;
}

.topic-list {
  margin-bottom: 2rem;
  column-count: 2;
  text-align: left;
  color: $text-color-dark;

  a:hover {
    color: $link-color-hover;
  }
}