$accent-border-color: $color-dodger-blue;

/**
 * Topic Page
 */
.topic-section {
  box-sizing: border-box;
  padding: $mobile-padding;
  position: relative;

  @include for-tablet-portrait-up {
    padding: $tablet-padding;
  }

  @include for-tablet-landscape-up {
    padding: $site-padding;
  }
}

.topic-section-container {
  @extend %section-content;
  @extend %clearfix;
}

.topic {
  margin-bottom: 1.6rem;
}

.topic-section-content {
  border-top: ($standard-border-width * 2) solid $accent-border-color;

  > h2 {
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
  }

  @include for-tablet-portrait-up {
    @include grid-column(2, $col-3);
  }
}

.topic-section-main-heading {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2em;
  margin-bottom: 1.5rem;
  padding-top: 0.5rem;

  @include for-tablet-portrait-up {
    font-size: 3.375rem;
  }
}

.topic-section-heading {
  color: $text-color-dark;
  font-family: Oswald;
  font-size: 2.5rem;
}

.next-section-link {
  font-size: 1.5rem;
  color: $text-color-dark;

  &:hover {
    color: $link-color-hover;
  }
}

.topic-description {
  p {
    margin-bottom: 1rem;
  }
}

.topic-resources {
  margin-top: 1.5rem;
}

.topic-description,
.topic-resources {
  margin-bottom: 3rem;
}

.topic-description-intro {
  font-size: 1.5rem;
}

/**
 * Topic Sidebar
 */
.topic-nav-sidebar {
  border-right: 1px solid $color-alto;
  color: $text-color-dark;
  padding-right: 1rem;

  a {
    cursor: pointer;

    &:hover {
      color: $link-color-hover;
    }
  }

  @include for-mobile-only {
    display: none;
  }

  @include for-tablet-portrait-up {
    @include grid-column(1, $col-3);
  }
}

.nav-topic {
  &:not(:first-child) {
    margin-top: 2rem;
  }
}

.nav-topic-heading,
.nav-subtopic-heading {
  font-weight: 200;
}

.topic-heading {
  color: $text-color-dark;
  font-size: 1.5rem;
  font-weight: 700;
}

.nav-topic-heading {
  padding: 0.3rem 0;
  font-size: 1.5rem;
  font-weight: 700;
}

.topic-directory-subtopic,
.nav-subtopic {
  padding: 0.5rem 0 0.5rem 1rem;
}

.nav-subtopic-heading {
  font-size: 1rem;
  font-weight: 400;
}

.active-nav-topic {
  margin: 0 -1rem;
  border-right-width: ($standard-border-width * 2);
  border-right-style: solid;
  border-right-color: $accent-border-color;
  padding: 0.3rem 0 0.3rem 1rem;
  background-color: $color-pattens-blue;
}