.topic-sidebar {
  font-weight: 200;

  @include grid-column(1, $col-3);
}

.topic-directory {
  display: block;
  margin: 0 auto;
  padding: 5em 8em 5em;
  background: rgba(233, 248, 255, 1) url('/assets/img/happy_children.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
}

.topic-directory-header {
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 2em;
  font-family: Oswald;
  font-size: 1.5em;
  text-align: center;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 1);
  transition: background 0.1s, color 0.1s;
}

.topic-directory-heading-stripe {
  width: 17.6em;
}

.topic-directory-body {}

.topic-resources-heading {
  margin-bottom: 2rem;
  font-family: Oswald;
  font-size: 2.3rem;
}

.topic-resources {
  @include grid-column(2, $col-3);
}

.topic-list {
  column-count: 2;

  a {
    text-decoration: none;
  }
}

.topic {
  margin-bottom: 2em;
}

.topic-heading {
  margin-bottom: 0.5em;
  font-size: 1.2em;
}

.subtopic {
  margin-left: 1.5em;
  margin-bottom: 1em;
}
