// Define defaults for each variable.

$site-padding: 5em 10em;

$base-font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$base-font-size:   16px !default;
$base-font-weight: 300 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$spacing-unit:     2rem !default;

$text-color:       rgba(0, 0, 0, 0.65) !default;
$background-color: #fdfdfd !default;
$brand-color:      #2a7ae2 !default;

$grey-color:       #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;

// Width of the content area
$content-width:    800px !default;

$on-palm:          600px !default;
$on-laptop:        800px !default;

$table_body_height: 300px;
$table_width: 500px;

$small-screen: 0px;
$med-screen: 900px;
$med-large-screen: 1000px;
$large-screen: 1200px;
