// Define defaults for each variable.

$site-padding: 6rem 10rem;

$base-font-family:   "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$base-font-size:     16px !default;
$base-font-weight:   400 !default;
$light-font-weight:  200 !default;
$strong-font-weight: 700 !default;
$small-font-size:    $base-font-size * 0.875 !default;
$base-line-height:   1.5 !default;

$standard-border-width:    2px;
$active-link-border-width: 3px;
$color-bar-height:         4px;
$spacing-unit:          2rem !default;

// Colors
$color-white:        rgba(255, 255, 255, 1);
$color-alto:         rgba(207, 207, 207, 1);
$color-scorpion:     rgba(89, 89, 89, 1);
$color-dusty-gray:   rgba(153, 153, 153, 1);
$color-silver:       rgba(204, 204, 204, 1);
$color-razzmatazz:   rgba(220, 19, 103, 1);
$color-saffron:      rgba(245, 184, 64, 1);
$color-apple:        rgba(78, 159, 58, 1);
$color-pattens-blue: rgba(219, 244, 255, 1);
$color-french-pass:  rgba(183, 234, 255, 1);
$color-dodger-blue:  rgba(52, 168, 252, 1);
$color-stratos:      rgba(2, 11, 79, 1);

// UI Element Colors
$text-color-light:   $color-white !default;
$text-color-grayed:  $color-dusty-gray !default;
$text-color-neutral: $color-scorpion !default;
$text-color-dark:    $color-stratos !default;
$link-color-hover:   $color-dodger-blue !default;
$background-color:   $color-white !default;

// Width of the content area
$content-width:    800px !default;
$on-palm:          600px !default;
$on-laptop:        800px !default;

$col-3: (
  columns: 3,
  gutter: 3rem,
);

$col-4: (
  columns: 4,
  gutter: 3rem,
);

@mixin for-mobile-only {
  @media (max-width: 599px) { @content; }
}

@mixin for-tablet-portrait-up {
  @media (min-width: 600px) { @content; }
}

@mixin for-tablet-landscape-up {
  @media (min-width: 900px) { @content; }
}

@mixin for-desktop-up {
  @media (min-width: 1200px) { @content; }
}