    <section class="filter-sidebar">

      <div class="sidebar-filter">
        <div class="filter-handle">
          <h1 class="filter-label">Filters</h1>
          <button class="filter-clear-all" type="button" v-on:click="clearAll">Clear All</button>
        </div>
      </div>

      <div class="sidebar-filter"
        is="resource-filter"
        v-bind:filter-type="'Topic'"
        v-bind:label-field="'label'"
        v-bind:value-field="'tag'"
        v-bind:children-field="'subtopics'"
        v-bind:filter-options="sharedState.topics">
        <div class="filter-handle">
          <span class="filter-label">Topic</span>
        </div>
      </div>

      <div class="sidebar-filter"
        is="resource-filter"
        v-bind:filter-type="'Organization'"
        v-bind:filter-options=[]>
        <div class="filter-handle">
          <span class="filter-label">Organization</span>
        </div>
      </div>
    
      <div class="sidebar-filter"
        is="resource-filter"
        v-bind:filter-type="'Country'"
        v-bind:label-field="'name'"
        v-bind:value-field="'iso_alpha3'"
        v-bind:filter-options="sharedState.countries">
        <div class="filter-handle">
          <span class="filter-label">Country</span>
        </div>
      </div>

      <div class="sidebar-filter"
        is="resource-filter"
        v-bind:filter-type="'Region'"
        v-bind:label-field="'name'"
        v-bind:value-field="'m49'"
        v-bind:filter-options="sharedState.regions">
        <div class="filter-handle">
          <span class="filter-label">Region</span>
        </div>
      </div>

      <div class="sidebar-filter"
        is="resource-filter"
        v-bind:filter-type="'Language'"
        v-bind:label-field="'label'"
        v-bind:value-field="'name'"
        v-bind:filter-options="sharedState.languages">
        <div class="filter-handle">
          <span class="filter-label">Language</span>
        </div>
      </div>
    
      <div class="sidebar-filter-update">
        <button>Update</button>
      </div>
    
    </section>
