<aside class="filter-sidebar">

  <h1 class="filters-heading">FILTER RESOURCES</h1>

  <div class="sidebar-filter"
    is="resource-filter"
    v-bind:filter-label="'Topic'"
    v-bind:filter-type="'topic'"
    v-bind:label-field="'label'"
    v-bind:value-field="'tag'"
    v-bind:child-field="'subtopics'"
    v-bind:filter-options="filterOptions.topic"
    v-bind:selected-options="selectedFilters.topic"
    v-bind:nested="true"
    v-on:filter-update="refresh">
    <div class="filter-handle">
      <h2 class="filter-label">Topic</h2>
    </div>
  </div>

  <div class="sidebar-filter"
    is="resource-filter"
    v-bind:filter-label="'Type of Resource'"
    v-bind:filter-type="'type'"
    v-bind:label-field="'name'"
    v-bind:value-field="'id'"
    v-bind:filter-options="filterOptions.type"
    v-bind:selected-options="selectedFilters.type"
    v-on:filter-update="refresh">
    <div class="filter-handle">
      <h2 class="filter-label">Type of Resource</h2>
    </div>
  </div>

  <div class="sidebar-filter"
    is="resource-filter"
    v-bind:filter-label="'Country'"
    v-bind:filter-type="'country'"
    v-bind:label-field="'name'"
    v-bind:value-field="'iso_alpha3'"
    v-bind:filter-options="filterOptions.country"
    v-bind:selected-options="selectedFilters.country"
    v-on:filter-update="refresh">
    <div class="filter-handle">
      <h2 class="filter-label">Country</h2>
    </div>
  </div>

  <div class="sidebar-filter"
    is="resource-filter"
    v-bind:filter-label="'Language'"
    v-bind:filter-type="'language'"
    v-bind:label-field="'label'"
    v-bind:value-field="'ietf_tag'"
    v-bind:filter-options="filterOptions.language"
    v-bind:selected-options="selectedFilters.language"
    v-on:filter-update="refresh">
    <div class="filter-handle">
      <h2 class="filter-label">Language</h2>
    </div>
  </div>

  <button class="filter-clear-all" v-on:click="clearAllFilters">
    <span class="icon-close" aria-hidden="true"></span>
    <span>CLEAR FILTERS</span>
  </button>

</aside>