<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
        <address class="contact-info">
          {% if site.ode_email %}
          <div class="contact-email">
            <a href="mailto:{{ site.ode_email }}">{{ site.ode_email }}</a>
          </div>
          {% endif %}
          {% if site.ode_website %}
          <div class="contact-website">
            <a  href="{{ site.ode_website }}">OpenDataEnterprise.org</a>
          </div>
          {% endif %}
          <div class="contact-address">OpenGov Hub, 1110 Vermont Ave NW, Washington, D.C. 20005</div>
        </address>

      <div class="sponsors">
        <img class="sponsor-logos" src="/assets/img/opendata_enterprise_and_hewlett_foundation_logos.png">
      </div>
    </div>

    <div class="footer-links-wrapper">
      <ul class="footer-links">
        <li class="footer-link">
          <a href="terms-and-conditions">Terms & Conditions</a>
        </li>
        <li class="footer-link">
          <a href="privacy-policy">Privacy Policy</a>
        </li>
        <li class="footer-link">
          <a href="sitemap">Sitemap</a>
        </li>
      </ul>
      <div class="cc-icon">
        <img src="/assets/img/cc-by_icon.png">
      </div>
    </div>

  </div>

</footer>
