<footer class="site-footer">

  <div class="footer-wrapper">

    <div class="footer-top">

      <address class="contact-info">

        {% if site.ode_email %}
        <div class="contact-email">
          <a href="mailto:{{ site.ode_email }}">{{ site.ode_email }}</a>
        </div>
        {% endif %}

        {% if site.ode_website %}
        <div class="contact-website">
          <a  href="{{ site.ode_website }}">OpenDataEnterprise.org</a>
        </div>
        {% endif %}

        <div class="contact-address">OpenGov Hub, 1110 Vermont Ave NW, Washington, D.C. 20005</div>

      </address>

      <div class="footer-logo">

        <a href="http://opendataenterprise.org/">
          <img
            srcset="/assets/img/opendata_enterprise_logo.png,
              /assets/img/opendata_enterprise_logo@2x.png 2x"
            sizes="100px,
              100px"
            src="/assets/img/opendata_enterprise_logo.png"
            alt="Logo for the Center for Open Data Enterprise">
        </a>

      </div>

    </div>

    <div class="footer-bottom">

      <div class="footer-links-wrapper">

        <div class="footer-npo-line">The Center for Open Data Enterprise is an independent 501(c)(3) nonprofit organization based in Washington, DC.<br>The mission of the Center for Open Data Enterprise is to maximize the value of government data as a public resource, by focusing on data users.</div>

        <ul class="footer-links" role="Navigation">

          <li class="footer-link">
            <a href="/terms-and-conditions">Terms & Conditions</a>
          </li>

          <li class="footer-link">
            <a href="/privacy-policy">Privacy Policy</a>
          </li>

          <li class="footer-link">
            <a href="/sitemap.xml">Sitemap</a>
          </li>

        </ul>

      </div>

      <div class="cc-icon">

        <a href="https://creativecommons.org/licenses/by/4.0/">
          <img class="footer-img" src="/assets/img/cc-by_icon.png" alt="Creative Commons Attribution 4.0 license logo">
        </a>

      </div>

    </div>

  </div>

</footer>
