<script type="text/x-template" id="filter-template">
  <div class="filter">
    <div class="filter-select" v-bind:class="{ 'hide-options': !visible }" v-on:click="visible = true">
      <label class="summary" data-role="summary">(( filterType ))</label>
      <button class="clear" type="button" v-on:click="clear">Clear</button>
      <ol class="filter-list">
        <li v-for="option in options">
          <input :id="'f-' + (( option ))" type="checkbox" :value="(( option ))" v-model="filterValues">
          <label :for="'f-' + (( option ))">(( option ))</label>
        </li>
      </ol>
    </div>
  </div>
</script>
