<nav class="topic-nav-sidebar">
  <ul>
    <li class="nav-topic" v-for="topic in topics">
      <h1 class="nav-topic-heading" :class="{ 'active-nav-topic': isActive(topic.tag) }">
        <a :href="'/topic/' + (( topic.tag ))">(( topic.label ))</a>
      </h1>
      <ul v-if="topic.subtopics">
        <li class="nav-subtopic" v-for="subtopic in topic.subtopics">
          <h2 class="nav-subtopic-heading" :class="{ 'active-nav-topic': isActive(subtopic.tag) }">
            <a :href="'/topic/' + (( subtopic.tag ))">(( subtopic.label ))</a>
          </h2>
        </li>
      </ul>
    </li>
  </ul>
</nav>