{% assign base_url = "/resources-topic" %}
<nav class="topic-directory">
  <div class="topic-directory-header">
    <img class="topic-directory-heading-stripe" src="/assets/img/stripe.jpg">
    <h1 class="topic-directory-heading">Explore Resources by Topic</h1>
  </div>
  <div class="topic-directory-body">
    <ul class="topic-list">
      {% for topic in site.data.topic_dump %}
      <li class="topic">
        <h2 class="topic-heading">
          <a href="{{ base_url }}?topic={{ topic.tag }}">{{ topic.label }}</a>
        </h2>
        {% if topic.subtopics %}
        <ul>
          {% for subtopic in topic.subtopics %}
          <li class="subtopic">
            <a href="{{ base_url }}?topic={{ subtopic.tag }}">{{ subtopic.label }}</a>
          </li>
          {% endfor %}
        </ul>
        {% endif %}
      </li>
      {% endfor %}
    </ul>
  </div>
</nav>
