<nav class="topics-dropdown-menu-content dropdown-content">
  <ul>
    {% for topic in site.data.nested_topics %}
    <li class="topics-dropdown-topic">
      <h1 class="topics-dropdown-topic-heading">
        <a href="/topic/{{ topic.topic }}/">
          <span>{{ topic.label }}&nbsp;<span class="icon-blue-arrow" aria-hidden="true"></span></span>
        </a>
      </h1>
      {% if topic.subtopics %}
      <ul>
        {% for subtopic in topic.subtopics %}
        <li class="topics-dropdown-subtopic">
          <h2 class="topics-dropdown-subtopic-heading">
            <a href="/topic/{{ subtopic.topic }}/">{{ subtopic.label }}</a>
          </h2>
        </li>
        {% endfor %}
      </ul>
      {% endif %}
    </li>
    {% endfor %}
  </ul>
</nav>
