---
title: News & Updates
permalink: /news/
navigation_weight: 2
navigation_id: news
layout: default
news-js: true
---

<header role="banner" class="banner news-banner">
  <div class="banner-content">
    <h1 class="banner-heading">News & Updates</h1>
  </div>
</header>

<div id="news-updates" class="news-wrapper">

  <section class="news-section">

    <div class="news-filters">
      <div class="news-filters-heading">News</div>
      <div class="news-filters-controls">
        <div class="news-filter">
          <div class="news-filter-control dropdown-button">
            <div class="news-filter-control-label">
              <span>Filter by Tag</span>
              <span class="icon-dropdown" aria-hidden="true"></span>
            </div>
          </div>
          <ul class="news-filter-options dropdown-content">
            <li class="news-filter-option" v-for="tag in tags">
              <label v-if="!(tag in filterTags)">
                <input class="checkbox"
                  type="checkbox"
                  :value="tag"
                  v-on:click="checkTag(tag)">
                  (( tag ))
                </input>
              </label>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <newsfeed
      :newsfeed="news"
      :filter-tags="filterTags"
      :total-results="pagination.totalResults"
      @select-filter-tag="addTag"
      @deselect-filter-tag="removeTag">
    </newsfeed>

    <pagination
      :current-page="pagination.currentPage"
      :items-per-page="pagination.resultsPerPage"
      :total-items="pagination.totalResults"
      @page-changed="refresh">
    </pagination>

  </section>

  <event-feed :events="events"></event-feed>

</div>