---
title: News & Updates
permalink: /news/
navigation_weight: 2
navigation_id: news
layout: default
news-js: true
---

<header role="banner" class="banner news-banner">
  <div class="banner-content">
    <h1 class="banner-heading">News & Updates</h1>
  </div>
</header>

<div id="news-updates" class="news-wrapper">

  <img class="white-wave" src="/assets/img/white-wave.png" alt="" role="img" aria-hidden="true">

  <section class="news-section">

    <div class="news-filters">
      <div class="news-filters-heading">News</div>
      <div class="news-filters-controls">
        <div class="news-filter">
          <div class="news-filter-control" tabindex="0">
            <div class="news-filter-control-label">
              <span>Filter by Tag</span>
              <span class="icon-dropdown" aria-hidden="true"></span>
            </div>
            <ul class="news-filter-options">
              <li class="news-filter-option" v-for="tag in tags">
                <div class="subject-tag"
                  v-if="!(tag in filterTags)"
                  v-on:click="checkTag(tag)">
                  (( tag ))
                </div>
              </li>
              <span v-if="tags.length === 0">
                No tags available.
              </span>
              <span v-else-if="tags.length === Object.keys(filterTags).length">
                All tags have been selected.
              </span>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <newsfeed
      :newsfeed="news"
      :filter-tags="filterTags"
      :total-results="pagination.totalResults"
      @select-filter-tag="addTag"
      @deselect-filter-tag="removeTag">
    </newsfeed>

    <pagination
      :current-page="pagination.currentPage"
      :items-per-page="pagination.resultsPerPage"
      :total-items="pagination.totalResults"
      @page-changed="refresh">
    </pagination>

  </section>

  <event-feed :events="events"></event-feed>

</div>