<script type="text/x-template" id="filter-option-template">
<li v-if="isExpandable">
  <div v-on:click="toggle">
    (( model[labelField] ))
    <span>[(( expanded ? '-' : '+' ))]</span>
  </div>
  <ul class="filter-list" v-show="expanded">
    <item
      class="filter-option"
      v-bind:label-field="labelField"
      v-bind:value-field="valueField"
      v-bind:children-field="childrenField"
      v-bind:model="model"
      v-for="model in model[childrenField]"
      v-bind:key="model[labelField]">
    </item>
  </ul>
</li>
<li v-else>
  <input
    type="checkbox"
    v-bind:id="'f-' + (( model[valueField] ))"
    v-bind:value="(( model[valueField] ))"
    v-on:click="emitFilterUpdate">
  <label v-bind:for="'f-' + (( model[valueField] ))">(( model[labelField] ))</label>
</li>
</script>
