/**
 * Resource Search Bar
 */
.search-bar {
  margin: 0 auto;
  max-width: 50em;
  padding: 0 3rem;

  @include for-tablet-landscape-up {
    padding: 0;
  }
}

.search-bar-controls {
  display: flex;
  text-align: center;

  .icon-search-resources-mobile {
    vertical-align: middle;

    &:before {
      color: $color-dodger-blue;
      font-size: 1.5rem;
    }
  }
}

.search-field {
  background-color: $color-white;
  border-bottom: 1px solid $color-dodger-blue;
  border-left: 1px solid $color-dodger-blue;
  border-right: none;
  border-top: 1px solid $color-dodger-blue;
  font: inherit;
  font-size: 1.2rem;
  padding: 0.75rem;
  width: 100%;

  &::placeholder {
    color: $text-color-grayed;
  }
}

.search-submit {
  background-color: $color-white;
  border-bottom: 1px solid $color-dodger-blue;
  border-left: none;
  border-right: 1px solid $color-dodger-blue;
  border-top: 1px solid $color-dodger-blue;
  color: $color-dodger-blue;
  cursor: pointer;
  display: inline-block;
  padding: 0.75rem;
  vertical-align: middle;
}

.search-submit-label {
  margin-left: 0.25rem;
}