$accent-border-color: $color-dodger-blue;

/**
 * Topic Page
 */
.topic-section {
  box-sizing: border-box;
  padding: $mobile-padding;
  position: relative;

  @include for-tablet-portrait-up {
    padding: $tablet-padding;
  }

  @include for-tablet-landscape-up {
    padding: $site-padding;
  }
}

.topic-section-container {
  @extend %section-content;
  @extend %clearfix;
}

.topic {
  margin-bottom: 1.6rem;
}

.topic-section-content {
  border-top: ($standard-border-width * 2) solid $accent-border-color;

  > h2 {
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
  }

  .pagination-component {
    margin-bottom: 2rem;
  }

  @include for-tablet-portrait-up {
    @include grid-column(2, $col-3);
  }
}

.topic-section-main-heading {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2em;
  margin-bottom: 1.5rem;
  padding-top: 0.5rem;
}

.topic-section-heading {
  color: $text-color-dark;
  font-family: Oswald;
  font-size: 2rem;
}

.next-section-link {
  font-size: 1.3rem;
  color: $text-color-dark;

  &:hover {
    color: $link-color-hover;
  }
}

.topic-description {
  p {
    margin-bottom: 1rem;
  }
}

.topic-resources {
  margin-top: 1.5rem;
}

.topic-description,
.topic-resources {
  margin-bottom: 2rem;
}

.topic-description-intro {
  font-size: 1.25rem;
}