---
layout: default
---

<section class="hero-section">

  <div class="hero-body">

    <h1 class="hero-header">{{ page.title }}</h1>

  </div>

</section>

<section class="contact-form-section">

  <img class="white-wave" src="/assets/img/white-wave.png" alt="" role="img" aria-hidden="true">

  <div class="contact-form-section-content">

    <div class="tabs">

      <div class="tab contact-tab active-tab">
        <a href="/contact/">
          <span class="tab-label-text">CONTACT US</span>
        </a>
      </div>

      <div class="tab resource-tab">
        <a href="/submit-resource/">
          <span class="tab-label-text">SUBMIT A RESOURCE</span>
        </a>
      </div>

    </div>

    <div class="tab-content">

      {{ content }}

    </div>

  </div>

</section>