---
layout: default
---

<header role="banner">
  <div class="banner-content">
    <img class="banner-stripe" src="/assets/img/stripe.jpg">
    <h1 class="banner-header">SDG NATIONAL REPORTING INITIATIVE</h1>
    <h5 class="banner-text">Supporting government reporting on the <strong>Sustainable Development Goals</strong> for data-driven policymaking</h1>
  </div>
</header>

<section class="intro">
  <h2 class="intro-text">The <strong>SDG National Reporting Initiative</strong>, led by the <a target="_blank" href="http://opendataenterprise.org">Center for Open Data Enterprise</a>, is a two-year effort to facilitate greater information-sharing around SDG reporting internationally.&nbsp;The core areas of this initiative include:&nbsp;</h2>
  <ul class="feature-list">
    <li class="feature">
      <img class="feature-icon" src="/assets/img/news_icon.png">
      <div class="feature-description">
        <h3 class="feature-header">News & Updates</h3>
        <p>Stay up-to-date with new developments on SDG reporting from countries around the world.</p>
      </div>
    </li>
    <li class="feature">
      <a href="/resources">
        <img class="feature-icon" src="/assets/img/options_icon.png">
      </a>
      <div class="feature-description">
        <h3 class="feature-header">Assess Your Options</h3>
        <p>Review informational resources for national reporting on the SDGs to meet your country’s needs.</p>
      <div>
    </li>
    <li class="feature">
      <img class="feature-icon" src="/assets/img/build_icon.png">
      <div class="feature-description">
        <h3 class="feature-header">Build</h3>
        <p>Use open-source code for SDG national reporting.</p>
      </div>
    </li>
  </ul>
</section>
