---
layout: default
topic-js: true
---

<header role="banner" class="banner topics-banner">
  <div class="banner-content">
    <h1 class="banner-heading">Explore Resources</h1>
  </div>
  <a class="banner-submit-resource-button button" href="/contact/">
    <i class="fa fa-paperclip fa-lg" aria-hidden="true"></i>
    <span>SUBMIT A RESOURCE</span>
  </a>
</header>

<div id="directory" class="topic-wrapper">

    {% include topic-sidebar.html %}

    <div class="topic-content">
      {% assign heading = site.data.topics | where: "tag", page.title | first %}

      <h2 class="topic-section-heading">{{ heading.label | upcase }}</h2>
      <p class="topic-description">

      <h2 class="topic-section-heading">{{ "Resources" | upcase }}</h2>
      <ul is="resource-list"
        :resources="resources"
        :total-results="pagination.totalResults"></ul>
    </div>

</div>