---
layout: default
topic-js: true
---

<header role="banner" class="banner topics-banner">
  <div class="banner-content">
    <h1 class="banner-heading">Explore Resources</h1>
  </div>
  <a class="banner-submit-resource-button button" href="/contact/">
    <i class="fa fa-paperclip fa-lg" aria-hidden="true"></i>
    <span>SUBMIT A RESOURCE</span>
  </a>
</header>

<div id="directory" class="topic-wrapper">

    {% include topic-sidebar.html %}

    <div class="topic-content">
      {% assign currentTopic = site.data.topics | where: 'tag', page.title | first %}

      <h2 class="topic-heading">{{ currentTopic.label }}</h2>

      <p class="topic-description"></p>

      <h2 class="topic-section-heading">{{ 'Resources' | upcase }}</h2>
      <ul is="resource-list"
        :resources="resources"
        :total-results="pagination.totalResults"></ul>

      {% assign nextTopic = '' %}
      {% for topic in site.data.topics %}
      {% if topic.label == currentTopic.label %}
      {% if forloop.index != site.data.topics.size %}
      {% assign nextTopic = site.data.topics[forloop.index] %}
      {% endif %}
      {% endif %}
      {% endfor %}

      {% if nextTopic != '' %}
      <h2 class="topic-section-heading">{{ 'Next Section' | upcase }}</h2>
      <a class="next-section-link" href="/topic/{{ nextTopic.tag }}">{{ nextTopic.label }}</a>
      {% endif %}
    </div>

</div>